@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;
.comiteEtica{
    max-width: 810px;
    width: 100%;
    padding-bottom: 10rem;
    P{
        font-size: 1.5rem;
        padding-top: 2rem;
        margin: 0%;
    }
    h2{
        font-size: 2.1rem;
    }
    .acordeones{
        border-bottom: 1px solid lightgray;
        padding-bottom: 2rem;
    }
    .denuncias{
        margin-top: 5rem;
    }
    .contenedor{
        display: flex;
        flex-direction: column;
        max-width: 650px;
        padding-bottom: 2rem;
        .item{
            margin-top: 2rem;
            .cargo{
                h5{
                    color: black;
                }
            }
            .encargados{
                display: flex;
                .columna{
                    width: 400px;
                    @include m.mobile{

                    }
                    .nombre{
                        color: #0E149B;
                        text-decoration: underline;
                    }
                    .nombre:hover{
                        color: #393e8f;
                        cursor: pointer;
                    }
                    .puesto{
                        padding-top: 0%;
                    }
                }
            }
        }
    }
    
    @include m.mobile {
        img{
            max-width: 300px;
        }
    }
}