.contraloriaSocial{
    max-width: 810px;
    width: 100%;
    padding-bottom: 10rem;
    h5{
        color: #2453f7;
    }
    p{
        padding-bottom: 2rem;
    }
    .acordeones{
        border-bottom: 1px solid lightgray;
        padding-bottom: 2rem;
    }
}