@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;
@use "sass:color";

.directorio{
    width: 100%;
    grid-auto-flow: column;


    .curricular_link{
        color: v.$strong-blue4;
        font-size: 15px;
        text-transform: none;
        text-align: start;
        text-decoration: underline;
    
        &:hover{
            cursor: pointer;
            color: v.$strong-blue4;
            color: color.adjust(v.$strong-blue4, $lightness: -20%);
        }
      }


    .result_container{
        display: flex;
        .mobileResult{
            height: 150px;
            display: inline-table;
            margin-bottom: 3rem;
            .item{
                border-bottom: 1px solid v.$strong-blue3;
                padding: 2rem 0rem 2rem 0rem;
            }
            p{
                margin: 0%;
            }
        }

        .no_result, .loading{
            text-align: center;
        }
        @include m.desktopXL{
            flex-direction: column;
        }
        @include m.mobile{
            flex-direction: column;
            row-gap: 3rem;
        }
    }
    .dir_container{
        // padding-bottom: 5rem;
        // padding-left: 10rem;
        &.dir_vertical{
            padding-left: 10rem;
            @include m.desktopXL{
                padding-left: 0%;
            }
        }
        @include m.desktopXL{
            padding-left: 0%;
            padding-top: 2rem;
        }
        @include m.mobile{
            padding-left: 1rem;
        }
    }
    .intro_directorio{
        display: flex;
        margin-bottom: 2rem;
        h3{
            font-weight: 500;
            margin: 0%;
            padding-right: 2rem;
            color:  black;
        }
        p{
            padding-top: 0.5rem;
            margin: 0%;
        }
        @include m.mobile{
            flex-direction: column;
            row-gap: 1rem;
        }
    }
    .intro_vertical{
        flex-direction: column;
        row-gap: 5px;
        .i_v{
            font-size: 12px;
            @include m.desktopXL{
                font-size: 2rem !important;
                font-size: initial;
            }
        }
        @include m.desktopXL{
            flex-direction: initial;
        }
        @include m.mobile{
            flex-direction: column;
        } 
    }
    .items{
        max-width: 608px;
        border-top: 1px solid black;
        padding-top: 20px;
        .item{
            max-width: 187px;
            .item_title{
                display: flex;
                align-items: center;
                column-gap: 6px;
            }
            img{
                margin-top: 5px;
                height: 1.5rem;
                width: 1.5rem;
            }
            h4{
                color: black;
                font-size: 1.5rem;
                margin: 0%;
            }
            p{
                padding-left: 2rem;
            }
        }
    }
    .items_colum{
        max-width: 608px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 1rem;
        @include m.desktopXL{
            grid-template-columns: repeat(2, 1fr);
        }
        @include m.mobile{
            grid-template-columns: none;
        }
    }
    .items_vertical{
        max-width: 184px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 1rem;
        @include m.desktopXL{
            grid-template-columns: repeat(2, 1fr);
            max-width: 608px;
            column-gap: 0rem;
        }
    }
    .searchIn{
        display: flex;
        padding-bottom: 50px;
        @include m.mobile{
            flex-direction: column;
            justify-items: center;
            align-items: center;
        }

        .selectIn{
            max-width: 245px;
            height: 33px;
            background-color: #d9d9d9;
            font-size: 1.5rem;
            padding-left: 2rem;
            border-top: 1px solid #2457f7;
            border-bottom: 1px solid #2457f7;
            border-left: 1px solid #2457f7;
            border-right: none;
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
            background-image: url('/imgs/icons/icon_down.png'); /* Icono personalizado */
            background-repeat: no-repeat;
            background-position: right 2rem center; /* Ajusta la posición */
            background-size: 1rem; /* Tamaño del icono */
            appearance: none;
            -webkit-appearance: none; /* Para navegadores WebKit */
            -moz-appearance: none; /* Para Firefox */
            padding-right: 2rem; /* Espacio para el icono */
            @include m.mobile{
                max-width: 280px;
                border: 1px solid #2457f7;
                border-top-right-radius: 50px;
                border-bottom-right-radius: 50px;
                margin-bottom: 2rem;
            }
        }
        .input{
            width: 300px;
            height: 33px;
            font-size: 1.5rem;
            padding-left: 2rem;
            border-top: 1px solid #2457f7;
            border-bottom: 1px solid #2457f7;
            border-right: none;
            border-left: none;
            border-radius:0px;
            -webkit-border-radius:0px;
            -moz-border-radius:0px;
            -ms-border-radius:0px;
            -o-border-radius:0px;
            @include m.mobile{
                max-width: 280px;
                border: 1px solid #2457f7;
                border-radius: 50px;
                -webkit-border-radius: 50px;
                -moz-border-radius: 50px;
                -ms-border-radius: 50px;
                -o-border-radius: 50px;
                margin-bottom: 2rem;
            }
        }
        .btn{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 92px;
            height: 33px;
            border: 1px solid #2457f7;
            background-color: #2457f7;
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
            svg{
                width: 16px;
                height: 16px;
            }
            @include m.mobile{
                width: 280px;
                border-radius: 50px;
                -webkit-border-radius: 50px;
                -moz-border-radius: 50px;
                -ms-border-radius: 50px;
                -o-border-radius: 50px;
            }

            &:hover{
                cursor: pointer;
            }
        }
    }



    table {
        max-width: 635px;
        height: 50px;
        border-collapse: collapse;
        margin-bottom: 1rem;
        margin-top: 2rem
    }

    th, td {
        padding: 0%;
        width: 153px;
        height: 48px;
        text-align: left;
        padding-left: 2rem;
        font-size: 1.4rem;
        @include m.mobile{
            font-size: 0.7rem;
            height: 20px;
            padding: 0%;
        }
    }
    td{
        border-bottom: 1px solid #2457f7;
        padding: 1rem 1rem 1rem 1rem;
    }

    th {
        background-color: #2457f7;
        font-weight: 600;
        color: white;
        border-right: 1px solid white;
    }
}