@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;

.infraestructura{
    h3{
        color: black;
        margin: 0%;
    }
    .dto_gral{
        display: flex;
        max-width: 808px;
        height: 8rem;
        border-bottom: 1px solid black;
        align-items: center;
        p{
            margin: 0%;
            padding-left: 1.5rem;
            font-size: 1.5rem;
        }
        @include m.mobile{
            flex-direction: column;
            margin-top: 2rem;
            text-align: center;
        }
    }
    .table_content{
        margin-top: 5rem;
    }
    table {
        width: 808px;
        height: 50px;
        border-collapse: collapse;
        margin-bottom: 1rem;
        margin-top: 2rem !important;
        @include m.desktopXL{
            width: 600px;
        }
        @include m.desktop{
            width: 550px;
        }
        @include m.tablet{
            width: 400px;
        }
        @include m.mobile{
            width: 290px;
        }
    }
    tbody{
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;

    }

    th, td {
        width: 153px;
        height: 40px;
        text-align: left;
        padding-left: 5px;
        font-size: 1.4rem;
        @include m.mobile{
            font-size: 1.5rem;
            height: 50px;
            max-width: 11rem;
        }
    }
    td{
        border-bottom: 1px solid black;
        padding: 0.5rem;
    }

    th {
        background-color: #2457f7;
        font-weight: 600;
        color: white;
        border-right: 1px solid white;
        line-height: 1.5rem;
    }

    .infraestructura__contacto{
        margin-top: 4.5rem;
    }
}
