@use '@styles/base/mixins' as m;
.localizacion{
    h3{
        color: black;
    }
    .loc_container{
        display: flex;
        margin-top: 2rem;
        max-width: 690px;
        align-items: center;
        justify-content: space-between;
        @include m.mobile{
            flex-direction: column;
            align-items: start;
        }
        .btn_maps{
            width: 202px;
            height: 36px;
            background-color: #00a650;
            border: 0px;
            font-weight: 700;
            font-size: 1.4rem;
            font-family: "Montserrat", sans-serif;
            color: white;
            border-radius: 50px;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            -ms-border-radius: 50px;
            -o-border-radius: 50px;
            @include m.mobile{
                margin-top: 2rem;
            }
        }
        .btn_maps:hover{
            cursor: pointer;
        }
    }
    .a_dir{
        display: flex;
        max-width: 20rem;
    }
    .loc_directorio{
        display: flex;
        align-items: center;
        margin-top: 2rem;
        img{
            width: 3rem;
            height: 3rem;
        }
        h5{
            color: #2453f7;
            font-weight: 600;
            margin: 0%;
            padding-left: 1.5rem;
        }
    }
    .mapa{
        margin-top: 3rem;
        margin-bottom: 3rem;
        max-width: 699px;
        max-height: 437px;
    }
}