@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;


$font-family: 'Noto Sans', sans-serif;
$color-black: #000;
$color-blue: v.$strong-blue3;
$font-size-small: 15px;
$font-size-medium: 21px;
$line-height: 22px;

@mixin text-style($size, $weight, $color: $color-black) {
    font-family: $font-family;
    font-size: $size;
    font-style: normal;
    font-weight: $weight;
    line-height: $line-height;
    color: $color;
    margin: 0;
}


.visitasGuiadas {
    max-width: 58.7rem;
    display: flex;
    flex-direction: column;

    .visitasGuiadas__header {
        margin-bottom: 6rem;

        &-title {
            @include text-style($font-size-medium, 700);
            margin-bottom: 3rem;
        }

        &-paragraph {
            @include text-style($font-size-small, 400);

            .link {
                @include text-style($font-size-small, 600, $color-blue);
            }

            .negritas {
                @include text-style($font-size-small, 700);
            }

            .link-underline{
                text-decoration: underline;
                text-decoration-color: gray;
            }
        }
    }

    .visitasGuiadas__item {
        min-height: 121px;
        border-top: 1px solid v.$black;
        border-bottom: 1px solid v.$black;
        display: flex;
        align-items: center;
        margin-bottom: 6rem;


        .visitasGuiadas__item-box {
            display: flex;
            align-items: center;

            @include m.mobile {
                //flex-direction: column;
                padding: 2rem 0;

                .icon-box {
                    margin-right: 1rem;
                    width: 3rem;
                    height: 3rem;
                    .img{

                    }
                }

                .title{
                    font-size: 1.5rem!important;
                }
            }

            .visitasGuiadas__item-image {
                height: 9.1rem;
                width: 9.1rem;
                border-radius: 50%;
                margin-right: 3rem;
                overflow: hidden;

                .img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    color: v.$black;
                }
                @include m.mobile{
                    height: inherit !important;
                    margin-right: 1rem;
                }               
            }

            .visitasGuiadas__item-title {
                display: flex;

                .icon-box {
                    margin-right: 1rem;
                    .img{

                    }
                }

                .title {
                    @include text-style($font-size-medium, 500);
                    @include m.mobile{
                        max-width: 150px;
                    }
                }
                @include m.mobile{
                    align-items: center;
                }
            }
        }
        :hover{
            cursor: pointer;
            .title{
                font-weight: 600 !important;
            }
            .visitasGuiadas__item-image{
                height: 9.5rem;
                width: 9.5rem;
            }
        }
    }

    .visitasGuiadas__objetivos {
        margin-bottom: 6rem;

        .visitasGuiadas__ojetivos-title {
            @include text-style($font-size-medium, 700);
            margin-bottom: 3rem;
        }

        .visitasGuiadas__objetivos-list {
            padding-left: 2.5rem;

            .visitasGuiadas__ojetivos-item {
                margin-bottom: 1rem;

                &:last-of-type {
                    margin-bottom: 0;
                }

                .objetivo {
                    @include text-style($font-size-small, 400);

                    .negritas {
                        @include text-style($font-size-small, 600);
                    }
                }
            }
        }
    }

    .visitasGuiadas__paraquienes {
        margin-bottom: 6rem;

        .title {
            @include text-style($font-size-medium, 700);
            margin-bottom: 3rem;
        }

        .visitasGuiadas__paraquienes-list {
            padding-left: 2.5rem;

            .item {
                @include text-style($font-size-small, 600, $color-blue);
                margin-bottom: 1rem;

                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }

    .visitasGuiadas__contacto {
        width: min(29.4rem, 100%);
        min-height: 19.6rem;

        .visitasGuiadas__contacto-boxicono {
            display: flex;
            margin-bottom: 1.5rem;
        }

        .visitasGuiadas__contacto-content {
            .info, .name, .role, .correo, .telefono {
                margin: 0;
                @include text-style(1.4rem, v.$regular, v.$black);
            }

            .correo{
                text-decoration: underline;
            }

            .name {
                font-weight: v.$bold;
            }
        }
    }
}
