@use './bienvenida';
@use './directorio';
@use './secretariaAcademica';
@use './infraestructura';
@use './localizacion';
@use './comunicacionSocial';
@use './visitasGuiadas';
@use './contraloriaSocial';
@use './comiteEtica';
