@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;
.comision{
    max-width: 609px;
    h2{
        font-size: 2.1rem;

    }
    h5{
        font-size: 1.4rem;
        padding-top: 1.5rem;
        color: #2453f7;
    }
    h2,h5{
        padding: 2rem 0 2rem 0;
    }
    ul{
        padding-left: 2rem;
    }
    li{
        font-size: 1.4rem;
    }
    @include m.mobile{
        img{
            max-width: 310px;
        }
    }
    .contactoItem{
        h5{
            padding-bottom: 0%;
        }
    }
    .intro{
        img{
            margin-bottom: 3rem;
        }
    }
    .miembros-comision{
        h5{
            padding: 0%;
        }
        .contenedor{
            display: grid;
            margin-top: 2rem;
            gap: 2rem;
            .item{
                display: grid;
                gap: 1rem;
                .cargo{
                    h5{
                        color: black;
                    }
                }
                .encargados{
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 1rem;
                    @include m.mobile{
                        grid-template-columns: repeat(1, 1fr); 
                    }
                    .columna{
                        width: 400px;
                        .nombre{
                            color: #0E149B;
                            text-decoration: underline;
                        }
                        .nombre:hover{
                            color: #393e8f;
                            cursor: pointer;
                        }
                        .puesto{
                            padding-top: 0%;
                        }
                    }
                }
            }
        }
    }
    .overline {
        position: relative;/**/
    
        &::before {
            content: '';
            height: 0.5rem;
            width: 100%;
            position: absolute;
            top: 0;
    
            /* Aquí se utiliza un gradient para el color dinámico y el negro al final */
            //background: linear-gradient(to right, var(--dynamic-color) 90%, black 100%);
            background-color: #2453f7;
        }
    }
}