@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;
.comite{
    max-width: 609px;
    .introComite{
        img{
            padding-bottom: 2rem;
            @include m.mobile{
                max-width: 200px;
            }
        }
        p{
            padding: 1rem 0 1rem 0;
        }
    }
    .info{
        margin-top: 2rem;
    }
    h4{
        color: black;
        font-size: 2.2rem;
        padding-bottom: 3rem;
    }
    h3{
        color: #2453f7;
        font-size: 2.2rem;
        padding-bottom: 2rem;
    }
}