@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;
.igualdad{
    max-width: 609px;
    h3{
        color: black;
        padding: 1rem 0 1rem 0;
    }
    h5{
        font-size: 2.2rem;
        padding-top: 2.5rem;
        line-height: 28px;
    }
    .name{
        text-decoration: underline;
        color: #0E149B;
        cursor: pointer;
    }
    .intro{
        img{
            padding-bottom: 3rem;
        }
        h3{
            color: black;
        }
        p{
            padding: 1rem 0 1rem 0;
        }
    }
    .conforman{
        display: flex;
        padding-top: 2rem;
        column-gap: 5rem;
        @include m.mobile{
            flex-direction: column;
            row-gap: 3rem;
        }
        .item{
            max-width: 300px;
            display: grid;
            row-gap: 5rem;
            h5{
                color: black;
            }
            img{
                width: 128px !important;
                height: 128px !important;
            }
            a{
                width: auto;
                height: auto;
            }
        }
    }
    .serviciosIgualdad{
        margin-top: 3rem;
    }
    .ov{
        display: grid;
        row-gap: 3rem;
        @include m.mobile{
            display: flex;
            flex-direction: column;
            row-gap: 3rem;
            max-width: 200px;
        }
    }
    .resalte{
        color: #0E149B;
    }
    a{
        width: 100%;
        display: inline;
    }
    @include m.mobile{
        img{
            max-width: 310px;
        }
    }
}