@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;
.primerosAuxPsi{
    margin-bottom: 10rem;
    max-width: 609px;
    h2{
        font-size: 2.1rem;
        padding-bottom: 2rem;
    }
    p{
        padding-bottom: 2rem;
    }
    h5{
        font-size: 2.2rem;
        padding-top: 1.5rem;
        color: #2453f7;
        padding-bottom: 1.5rem;
    }
    ul{
        padding-left: 2rem;
        padding-bottom: 2rem;
    }
    li{
        font-size: 1.4rem;
    }
    .introPriAuxPsi{
        img{
            margin-bottom: 3rem;
        }
    }
    @include m.mobile{
        img{
            max-width: 310px;
        }
    }
}