@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;


.noticias--menu{
    max-width: 182px;
    width: 182px;
    min-height: 332px;
    position: sticky;
    top: 0;
    transition: all 0.3s ease-in-out;

    &.slice {
    }

    .noticias--list {
        height: 100%;
        margin: 0rem;
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 0;

        .noticias--boxLink {
            list-style: none;
            &:last-of-type {
                margin-bottom: 0;
            }

            line-height: 1.5rem;
            .noticias--link {
                color: #455179;
                font-family: v.$primaryFont;
                font-size: 1.3rem;
                font-style: normal;
                font-weight: 400;
                line-height: 1.5rem;

                &.active{
                    font-weight: 700;
                }

                &:hover {
                    font-weight: 700;
                    cursor: pointer;
                }
            }
        }
    } 
}