@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;

.noticias--menu--responsive{
    flex-grow: 1;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:center;

    margin-bottom: 2rem;
    
    .noticias--select{
        &:first-child{
            margin-right: 1.5rem;
        }
    }

    @include m.desktop{
        gap: 1rem;
    }

    @include m.mobile{
        flex-direction: row;
        justify-content: center;
        align-items: end;

        .noticias--select{
            &:first-child{
                margin-right: 0rem;
                margin-bottom: 0rem;
            }
        }
    }
}