@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;

.topImage--noticias {
    //* Display
    display: flex;
    align-items: center;
    justify-content: center;

    //* Tamaños
    width: 100%;
    aspect-ratio: 1600 / 230;
    max-height: 230px;
    height: 230px;

    //* Posición
    position: relative;

    //* Espacios
    margin-bottom: 4rem;

    //* Otros
    overflow: hidden;

    @include m.mobile{
        margin-bottom: 2rem;
        height: 200px;
    }


    .image {
        width: 100%;
        height: auto;
        min-height: 230px;
        position: absolute;
        object-fit: cover;
    }


    .topImage--content{
        display: flex;
        align-items: center;
        position: absolute;
        .title {
            line-height: normal;
            transition: all 0.3s;
            margin: 0rem;
            text-align: center;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }

    @include m.desktop{
        .title {
            font-size: 3.2rem;
        }
    }
    @include m.mobile{
        .title {
            font-size: clamp(2.2rem, 1vw, 2.5rem);
        }
    }
}
