@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;

.noticias--resumen {
    max-width: 69.9rem;
    width: min(100%, 69.9rem);
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 6rem;

    .noticia--img {
        margin: 0rem;
        width: 18.2rem;
        height: 18.2rem;
        background-color: v.$light-gray;
        margin-right: 3rem;

        @include m.tablet{
            margin-right: 0rem;
        }

        .img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .imgPreview {
            padding: 1rem;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        &:hover{
            cursor: pointer;
        }
    }

    .noticia--box {
        width: min(100%, 49.7rem);

        .noticia--titulo {
            background-color: v.$strong-blue3;
            margin-bottom: 2rem;
            padding: 2rem;
            display: flex;
            align-items: center;
            justify-content: start;

            .titulo {
                color: v.$white;
                font-size: 2.2rem;
                font-weight: 700;
                line-height: 2.8rem;
                margin: 0;
            }
        }

        .noticia--info {
            .noticia--fecha .fecha {
                color: v.$gray;
                font-size: 1.5rem;
                font-style: italic;
                font-weight: 400;
                line-height: 2.2rem;
            }

            .noticia--resumen{
                a {
                    pointer-events: none;
                    cursor: default;
                }
                .resumen {
                    color: v.$black;
                    font-size: 1.5rem;
                    font-weight: 400;
                    line-height: 2.2rem;
                }
            }
        }

        .noticia--link {
            margin-top: 2rem;

            .link {
                color: v.$strong-blue3;
                font-size: 1.5rem;
                font-weight: 700;
                line-height: 1.4rem;
            }
        }

        &:hover {
            cursor: pointer;

            .noticia--link .link {
                color: v.$gray;
            }

            .noticia--info .resumen {
                text-decoration: underline;
                text-decoration-color: v.$gray;
            }
        }
    }

    @include m.desktop{
        min-width: none;
        max-width: none;
        width: 100%;
    }

    @include m.tablet {
        display: block;
        break-inside: avoid;
        width: 100%;
        height: auto;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        border-radius: 1.5rem;
        margin-bottom: 2rem;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
            transform: scale(1.05);
            box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 16px;
        }

        .noticia--box {
            .noticia--titulo {
                padding: 1rem;

                .titulo {
                    font-size: 2.2rem;
                    line-height: 2.8rem;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            .noticia--info {
                padding: 0 1rem;

                .resumen {
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            .noticia--link {
                text-align: center;
                margin-bottom: 1rem;
            }
        }

        .noticia--img {
            width: 100%;
            height: 18.2rem;
            background-color: v.$light-gray;
        }
    }

    @include m.mobile {
        display: block;
        width: 100%;

        max-width: 100%;
        margin: 0 auto 1.5rem;
        border-radius: 1rem;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px;
        height: auto;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
            transform: scale(1.03);
            box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px;
        }

        .noticia--box {
            width: 100%;
            height: auto;

            .noticia--titulo {
                padding: 0.8rem;

                .titulo {
                    font-size: 2.2rem;
                    line-height: 2.8rem;
                }
            }

            .noticia--info {
                padding: 0 0.8rem;
            }

            .noticia--link {
                margin-bottom: 0.8rem;
            }
        }

        .noticia--img {
            width: 100%;
            height: 14rem;
        }
    }
}
