@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;


.contentAspirantes{
    max-width: 609px;
    display: grid;
    row-gap: 3rem;
    margin-bottom: 3rem;
    h4{
        color: black;
        font-size: 2.2rem;
    }
    h3{
       color: #2453F7;
    }
    a{
        color: #2453F7;
    }
    li{
        padding: 1.5rem 0 1.5rem 0;
    }
    .continentes{
        display: flex;
        column-gap: 1.5rem;
        @include m.tablet{
            flex-direction: column;
            row-gap: 1.5rem;
        }
        .item{
            width: 180px;
            img{
                width: 60px;
                height: 60px;
                margin-bottom: 1rem;
            }
        }
    }
    .divUrl{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3rem;
        background-color: #EBEBEB;
        a{
            font-weight: bold;
            text-decoration: underline;
        }
        @include m.mobile{
            flex-direction: column;
            align-items: start;
            width: 260px;
            a{
                display: block;
                width: 180px;
            }
        }
        img{
            width: 84px;
            height: 84px;
            margin-right: 2rem;
            @include m.mobile{
                margin-bottom: 2rem;
            }
        }
    }
}
   

