@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;

.contacto{
    max-width: 790px;
    @include m.mobile{
        padding: 0%;
    }
    h3{
        color: v.$dark-blue;
        font-size: 20px;
        padding-bottom: 20px;
    }
    h4{
        font-size: 22px;
        color: v.$black;
        font-weight: 600;
        padding-top: 25px;
        line-height: 28px;
        @include m.mobile{
            padding: 0%;
            font-size: 15px;
            line-height: 22px;
        }
    }
    h5{
        font-size: 15px;
        padding-top: 10px;
        color: black;
    }
    .indica{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2.5rem 0 0rem;
        padding: 1rem;
        background-color: lightgray;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
    }
    .confidencialidad{
        padding-top: 2rem;
    }
    .contactoItem{
        margin-bottom: 0;
        max-width: 225px;
    }

    .div-contacto{
        display: flex;
        column-gap: 4rem;
        @include m.tablet{
            flex-direction: column;
        }
    }
    .form-contacto{
        margin-top: 50px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        @include m.mobile{
            padding: 0%;
        }
        
        .form-group{
            display: grid;
            grid-template-columns: 1fr 3fr;
            column-gap: 3rem;
            align-items: center;
            justify-items: start;
            padding-top: 3rem;
            @include m.mobile{
                
            }
            label{
                display: block;
                font-size: 15px; 
                font-weight: bold; 
                color: black;
            }
            select{
                width: 50%;
                background-image: url('/imgs/icons/icon_down.png');
                background-repeat: no-repeat;
                background-position: right 1rem center; /* Ajusta la posición */
                background-size: 1rem; /* Tamaño del icono */
                appearance: none;
                -webkit-appearance: none; /* Para navegadores WebKit */
                -moz-appearance: none; /* Para Firefox */
                padding-right: 2rem; /* Espacio para el icono */
                @include m.mobile{
                    width: 100%;
                }

            }
            input, textarea{
                width: 100%;
            }
            select,input, textarea{
                padding: 1rem 1rem 1rem 1rem;
                height: 40px;
                display: block;
                border-radius: 50px;
                border: 1px solid #2453F7;
                box-shadow:0 1px 2px 0 v.$boxshadow;
                -webkit-border-radius: 50px;
                -moz-border-radius: 50px;
                -ms-border-radius: 50px;
                -o-border-radius: 50px;
            }
            textarea{
                height: 200px;
                padding: 2rem;
            }
            button{
                cursor: pointer;
                margin-left: 200px;
                margin-top: 30px;
                width: 82px;
                height: 42px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                background-color: #2453F7;
                border: 0px ;
                border-radius: 50px;
                -webkit-border-radius: 50px;
                -moz-border-radius: 50px;
                -ms-border-radius: 50px;
                -o-border-radius: 50px;
                @include m.mobile{
                    margin-top: 0px;
                }
            }
            button:hover{
                border: 2px solid black;
            }
        }
        @include m.mobile{
            #comentarios{
                margin-top: 2rem;
            }
        }
    }
}

@media (max-width: 780px) {
    .form-contacto{
        width: 100%!important;
    }
    .form-contacto{
        .form-group{
            grid-template-columns: repeat(1, 1fr)!important;
        }
    }
}

@media (max-width: 1024px) {
    .form-contacto{
        width: 100%!important;
    }
}