.convocatoriasPosgrado{
    max-width: 609px;
    display: grid;
    row-gap: 3rem;
    h4{
        color: black;
        font-size: 2.2rem;
        line-height: 28px;
    }
    .solicitud{
        width: 100%;
        padding: 2rem;
        background-color: #f3f3f3;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }
    .convocatoria{
        border-top: 1px solid #cccccc;
        h4{
            padding-top: 3rem;
        }
        p{
            padding-top: 1.5rem;
        }
    }
}