@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;


.consejo-estudiantil{
    max-width: 609px;
    @include m.desktop{
        margin: 0 auto;
    }
    @include m.tablet{
        width: min(58.5rem, 100%);
    }
    .negritas{
        font-weight: bold;
    }

    .consejo-estidiantil--info{
        margin-bottom: 4rem;
        .consejo-estudiantil_info-titulo{
            margin-bottom: 4rem;
            .titulo{
                color: #000;
    
                font-family: "Noto Sans";
                font-size: 22px;
                font-style: normal;
                font-weight: 700;
                line-height: 22px; /* 100% */
            }
        }
    
        .consejo-estudiantil-info-content{
    
        }
    }
    

    .consejo-estudiantil--galeria{
        .consejo-estudiantil--galeria-titulo{
            display: flex;
            flex-direction: row;
            margin-bottom: 4rem;

            .icon{
                margin-right: 1.8rem;
            }
            .titulo{
                color: #2453F7;
                font-family: "Noto Sans";
                font-size: 22px;
                font-style: normal;
                font-weight: 400;
                line-height: 28px;
            }
        }

        .consejo-estudiantil--galeria-list{
            .galeria--list{
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(13.2rem, 1fr));
                gap: 1.8rem;
                row-gap: 5rem;
    
                @include m.desktopXL{
                    margin-bottom: 5rem;
                }
    
                @include m.tablet {
                    gap: 1;
                    row-gap: 3rem; 
                    justify-items: center;
                    align-items: start; 
                }
    
                @include m.mobile{
                    place-items: center;
                }
            }
        }
    }
}