@use './aspirantes';
@use './becas';
@use './consejo-estudiantil';
@use './consejo';
@use './contacto';
@use './convocatorias';
@use './estancias';
@use './ingles';
@use './normatividad';
@use './servicios';
@use './nuestro-posgrado';
@use './diplomados'