@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;

.ingles{
    padding-left: 160px;
    padding-right: 160px;
    grid-auto-flow: column;
    @include m.tablet{
        margin-top: 50px;
        padding-right: 30px;
        padding-left: 30px !important;
    }
    ol, li{
        color: v.$black;
        font-size: 15px;
    }
    p{
        font-weight: 400;
        margin-top: 3rem /* 16px */;
        margin-bottom: 2rem /* 16px */;
    }
    h4{
        font-size: 21px;
        font-weight: 700;
        color: v.$black;
        margin-bottom: 1rem /* 16px */;
        margin-bottom: 1rem /* 16px */;
        line-height: 1.75rem /* 28px */;
        font-weight: 600;
    }
    h5{
        color: v.$black;
        font-size: 15px;
        margin-bottom: 1rem /* 16px */;
        margin-bottom: 1rem /* 16px */;
        line-height: 1.75rem /* 28px */;
        font-weight: 600;
    }
    ul{
        list-style-type: disc;
        margin-left: 1.5rem /* 24px */;
        margin-bottom: 1rem /* 16px */;
        li{
        margin-top: 30px;
        }
    }
}


@media(max-width:450px){
    .ingles{
        padding-left: 5%;
        padding-right: 5%;
    }
}