@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;

.normatividad{
    width: 100%;
    display: flex;
    .containerNormatividad{
        max-width: 587px;   
    }
    h3{
        color: black;
        padding-bottom: 2rem;
        @include m.mobile{
            padding: 0%;
            margin-bottom: 2rem;
        }
    }
    .cont-des{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}