@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;


.cartel--card{
    width: min(13.2rem, 100%);
    .cartel-titulo{
        margin-bottom: 1.1rem;
        .titulo{
            color: #000;

            font-family: "Noto Sans";
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;
        }
    }
    .cartel--img {
        width: min(13.2rem, 100%);
        height: 19.8rem;
        // margin-bottom: 1rem;
        position: relative;
        transition: background-color 0.3s ease, filter 0.3s ease;

        &:hover{
            cursor: pointer;
            filter: brightness(0.8);
        }


        .img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            transition: background-color 0.3s ease, filter 0.3s ease;
        }

        .cartel--icon{
            height: 3.1rem;
            width: 3.1rem;
            background-color: v.$white;
            position: absolute;
            bottom: 1rem;
            right: 1rem;
            padding: 0.7rem;
            
            .icon{

            }
        }
    }
}