@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;


.patentes--boxacordeones{
    margin-top: 7.2rem;

    .patentes--acordeones{
        .modules-version-acordeon{
            padding: 1.2rem 0rem;
            &:first-of-type{
                border-top: 1px solid v.$light-gray;
            }
            .acordeon--title{
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                .title{
                    color: #000;
    
                    font-family: "Noto Sans";
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 22px;
                }
            }

            .acordeon--content{
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(24.3rem, 1fr));
                gap: 3rem;
            
                margin: 0rem;
                margin-top: 6rem;
            
                @include m.tablet{
                    place-items: center;
                    row-gap: 5rem;
                }
            
                @include m.mobile{
                    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
                }
            }
        }
    }
}