@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;

.propiedadIntelectual--title{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 0.1rem solid v.$light-gray;
    .title{
        display: inline-block;
        color: v.$black;
        text-align: center;
        font-family: "Noto Sans";
        font-size: 2.9rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        padding-top: 1.5rem;
        margin: 0;

        border-top: 5px solid v.$strong-blue3;
    }
}