@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;

.propIntelectual--subtitle{
    .subtitle{
        color: v.$strong-blue3;
        font-family: "Noto Sans";
        font-size: 2.2rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2.2rem;

        padding-bottom: 2rem;
    }
}