
@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;

.vinculacion--menu {
    max-width: 18.2rem;
    width: 18.2rem;
    height: auto;
    position: sticky;
    top: 0;

    .vinculacion--list {
        height: 100%;
        margin: 0rem;
        padding: 0;
        overflow-y: auto;

        .vinculacion--boxLink {
            margin-bottom: 1.8rem;
            list-style: none;

            &:last-of-type {
                margin-bottom: 0;
            }

            .link {
                color: v.$black;
                font-family: v.$primaryFont;
                font-size: 1.5rem;
                font-style: normal;
                line-height: normal;

                &.active {
                    font-weight: 700;
                }

                &:hover {
                    font-weight: 700;
                    cursor: pointer;
                }
            }
        }
    }
}

