@use './variables' as v;

:root {
  --header-inferior-height: 70px;
  --breadcrumb-height: 40px;
  --sticky-offset: calc(var(--header-inferior-height) + var(--breadcrumb-height));
}

html {
    font-size: 62.5%;
    box-sizing: border-box;

    scroll-behavior: smooth;
}

* {
  scroll-margin-top: var(--sticky-offset);
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    //* Tamaños
    min-height: 100vh;

    //* Espacios
    margin: 0rem;
    padding: 0rem;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        padding: 0rem;
        margin: 0rem;
    }

    
    p {
        margin: 0rem;
        padding: 0rem;
    }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}