// _mixins.scss
//* Tamaños de Media Queries Propuesta
$mobilexs: 368px;
$mobile: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;
$desktop1600: 1600px;


// Mobile Extra Small (max-width)
@mixin mobilexs {
  @media (max-width: #{$mobilexs}) {
    @content;
  }
}

// Mobile (max-width)
@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

// Tablet (max-width)
@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

// Desktop (min-width)
@mixin desktop {
  @media (max-width: #{$desktop}) {
    @content;
  }
}

// Desktop XL (min-width)
@mixin desktopXL {
  @media (max-width: #{$desktopXL}) {
    @content;
  }
}

// Desktop 1600 (min-width)
@mixin desktop1600 {
  @media (min-width: #{$desktop1600}) {
    @content;
  }
}

// ============================================
// MIXINS AVANZADOS (MÁS FLEXIBLES)
// ============================================

// Entre rangos
@mixin between($min, $max) {
  @media (min-width: #{$min}) and (max-width: #{$max}) {
    @content;
  }
}

// Solo mobile (hasta tablet)
@mixin only-mobile {
  @media (max-width: #{$tablet - 1px}) {
    @content;
  }
}

// Tablet a Desktop
@mixin tablet-to-desktop {
  @media (min-width: #{$tablet}) and (max-width: #{$desktop - 1px}) {
    @content;
  }
}