@use './variables' as v;
@use './mixins' as m;

.container {
    transition: all 0.6s ease;
}

.container {
    padding-left: 4rem;
    padding-right: 4rem;
    width: 100%;

    margin: 0 auto;

    @include m.container-sm {
        padding: 0rem;
        max-width: 75rem;
    }
    @include m.container-md {
        max-width: 97rem;
    }
    @include m.container-lg {
        max-width: 119.5rem!important;
    }
}


//* Animacion para toda la pagina
.scale-enter-active,
.scale-leave-active {
    transition: transform 0.3s ease-out, opacity 0.2s ease-out;
}
.scale-enter-from,
.scale-leave-to {
    opacity: 0;
    transform: scale(0.9);
}

.fade-enter-active {
    transition: opacity 0.5s ease-in-out;
}
.fade-enter-from {
    opacity: 0;
}
.fade-enter-to {
    opacity: 1;
}
