@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;

.directorio{
    width: 100%;
    grid-auto-flow: column;
    .intro_directorio{
        display: flex;
        margin-bottom: 2rem;
        h3{
            font-weight: 500;
            margin: 0%;
            padding-right: 2rem;
        }
        p{
            padding-top: 0.5rem;
            margin: 0%;
        }
    }
    .items{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 1rem;
        column-gap: 7rem;
        h4{
            color: v.$dark-blue;
        }
    }
    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 1rem;
        margin-top: 2rem
    }

    th, td {
    padding: 2rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 2rem;
    }

    th {
    background-color: #f3f4f6;
    font-weight: bold;
    }
}