@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;

.vinculacionLayout{
    margin-bottom: 10rem;

    .vinculacionLayout--main{
        display: flex;
        flex-direction: row;
        position: relative;
        min-height: 100vh;
    
        @include m.desktop {
            flex-direction: column;
        }
        
        .vinculacionLayout--boxMenu{
            margin-right: 11.1rem;
            
            position: sticky;
            z-index: 996;
            top: 0;

            @include m.desktop{
                display: flex;
                justify-content: space-between;
                margin-right: 0;
            }

            &.slice{
                .vinculacion--menu{
                    top: 16rem; 
                    @include m.desktop{
                        top: 0;
                    }
                }
                @include m.desktop{
                    top: 10.5rem;
                }
            }
        }
    }
    
}