@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;

.programas-layout {
    .box-programas {
        margin-bottom: v.$separacion;
        display: flex;
        flex-direction: row;
        justify-content: start;
        position: relative;

        @include m.tablet {
            justify-content: start;
            align-items: start;
            flex-direction: column;
        }

        .box-info {
            width: 100%;
            min-height: 100vh;
        }
    }

}

.content-topImage {
    .item-eclipse {
        .img {
            h2 {
                font-size: 1.5rem;
            }
        }
    }
}

.hamburguesa-button {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}