@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;

.noticiaLayout{
    margin-bottom: 10rem;
    .noticiaLayout--main{
        display: flex;
        flex-direction: row;

        
        @include m.desktop{
            margin: 0 auto;
            align-items: center;
            flex-direction: column;
        
        }
        @include m.tablet{
            width: min(58.5rem, 100%);
        }
        .noticiaLayout--boxMenu{
            margin-right: 11.1rem;
            position: relative;
            overflow: visible;
        }

        .noticia--main {
            max-width: 69.9rem;
            width: min(100%, 69.9rem);
            display: flex;
            flex-direction: column;

            @include m.desktopXL{
                margin: 0 auto;
                    max-width: none;
                    width: 100%;
            }

            
            .title {
                color: #000;
                font-family: "Noto Sans";
                font-size: 22px;
                font-weight: 300;
                margin-bottom: 4.8rem;
            }
        }
    }
}