@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;
$font-family: Montserrat, sans-serif;
$color-black: #000;
$color-blue: v.$strong-blue3;
$font-size-small: 14px;
$font-size-medium: 21px;
$line-height: 22px;
@mixin text-style($size, $weight, $color: $color-black) {
    font-family: $font-family;
    font-size: $size;
    font-style: normal;
    font-weight: $weight;
    line-height: $line-height;
    color: $color;
    margin: 0;
}
.transparencia{
    max-width: 992px;
    margin-bottom: 10rem;
    row-gap: 7.2rem;
    .left-margin{
        margin-left: 45px;
        margin-top: 72px;
        margin-bottom: 72px;
        ol{
            margin: 2rem;
        }
    }
    .top-margin{
        margin-top: 72px;
        margin-bottom: 72px;
        ol{
            margin: 2rem;
        }
    }
    p {
        word-wrap: break-word;
        overflow-wrap: break-word;
    }

    a {
        word-break: break-all;
    }
    .parrafo{
        p{
            margin: 2rem 0 2rem 0;
        }
    }

    h1{
        font-size: 2.9rem;
        color: black;
        line-height: 32px;
    }
    h2{
        font-size: 2.1rem;
        margin-bottom: 2rem;
    }
    .table_content{
        margin: 7.2rem 0 7.2rem 0;
        .small{
            th,td{
                font-size: 1.2rem;
            }
        }
        @include m.mobile{
           overflow: auto;
        }
    }
    
    .seccionPdf{
        margin-top: 5rem;
        h2{
            padding-bottom: 5rem;
        }
    }

    .sectionPdf__item {
        display: inline-flex;
        width: auto;
        min-height: 121px;
        border-top: 1px solid v.$black;
        border-bottom: 1px solid v.$black;
        align-items: center;
        margin-bottom: 6rem;


        .sectionPdf__item-box {
            display: flex;
            align-items: center;

            @include m.mobile {
                flex-direction: column;
                padding: 2rem 0;

                .icon-box {
                    margin-right: 1rem;
                    width: 3rem;
                    height: 3rem;
                }

                .title{
                    font-size: 1.5rem!important;
                }
            }

            .sectionPdf__item-image {
                height: 9.1rem;
                width: 9.1rem;
                border-radius: 50%;
                margin-right: 3rem;
                overflow: hidden;

                .img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    color: v.$black;
                }
            }

            .sectionPdf__item-title {
                display: flex;

                .icon-box {
                    margin-right: 1rem;
                }

                .title {
                    @include text-style($font-size-medium, 500, black);
                }
            }
        }
    }
}