#accessibility{
    .menu-container{
        .menu-btn{
            padding: 0.4rem 0.6rem;
            background-color: white!important;
            .icon{
                color: red;
            }
        }
    }
}