@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;

.menu-curricula {
    max-width: 50rem;
    min-width: 27rem;
    max-height: calc(100vh - 12rem);
    height: fit-content;
    display: block;
    position: sticky;
    overflow-y: auto;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    @include m.tablet{
        max-width: 260px;
        min-width: 260px;
        position:fixed;
        left: 0%;
        right: 0;
        z-index: 999;
        background-color: v.$light-gray;
        max-height: calc(100vh - 17rem);
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
    }

    ul {
        margin: 0;
        padding: 0;
        max-width: 240px;

        @include m.tablet {
            margin-top: 0%;
        }

        li {
            margin-top: 1rem;
            padding-right: 25px;

            @include m.tablet {
                margin-top: 1rem;
                padding-right: 30px;
                padding-bottom: 1rem;
                border-bottom: 1px solid #565656;
            }
        }
    }

    .ml_a {
        //* Fuentes
        color: black;
        font-weight: v.$medium;
        font-size: 1.3rem;
        display: inline-block;
        position: relative;
        padding-bottom: 0.2rem;
        line-height: 15px;

        /*&::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 19rem;
            height: 0.1rem;
            background-color: v.$gray-blue;
        }*/

        &:hover {
            //* Fuentes
            color: black;
            font-weight: v.$bold;
            text-decoration: none;
        }

    }

    .active {
        font-weight: bold;
        color: black;
    }

    &.stick {
        // top: 14.5rem;

        // @include m.desktop {
        //     top: 9rem;
        // }
    }

    &.active {
        display: flex !important;
        padding-left: 1rem;
        box-shadow: 2px 0 5px #0080;
        margin-right: 4.125rem;
        /*Ajustaelvaloratupreferencia*/
        transform: translateX(0%) !important;
        -webkit-transform: translateX(0%) !important;
        -moz-transform: translateX(0%) !important;
        -ms-transform: translateX(0%) !important;
        -o-transform: translateX(0%) !important;
    }
}