@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;

.menu-container-programas {
  position: sticky;
  min-width: 28rem;
  max-width: 50rem;
  max-height: calc(100vh - 18rem);
  height: fit-content;
  overflow-y: auto;
  transition: all 0.3s ease-in-out;

  @include m.tablet {
    display: flex !important;
    position: fixed;
    left: 0%;
    right: 0;
    z-index: 999;
    min-width: 260px;
    max-width: 260px;
    max-height: calc(100vh - 17rem);
    background-color: v.$light-gray;
    transform: translateX(-111.5%);
    -webkit-transform: translateX(-111.5%);
    -moz-transform: translateX(-111.5%);
    -ms-transform: translateX(-111.5%);
    -o-transform: translateX(-111.5%);
  }

  @include m.desktop {
    margin-left: 3rem;
  }
  
  &.is-open {
    margin: 0;
    transform: translateX(-2%) !important;
  }


/* ====================
   MENU PRINCIPAL
   ==================== */
.menu-list {
  li {
    list-style: none;
    margin-top: 1rem;

    @include m.tablet {
      max-width: 250px;
    }
  }

}

.menu-item {
  max-width: 265px;
}

/* Enlaces principales */
.menu-link {
  font-weight: 600;
  font-size: 1.3rem;
  color: black;

  @include m.tablet {
    font-size: 12px;
  }

  &--program {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 50px;
    background-color: #f8f4f4;
    border: 1px solid black;
    border-radius: 6px;

    img {
      width: 47px;
      height: 32px;
      margin-right: 1.5rem;

      @include m.tablet {
        width: 2.5rem;
        height: 2.5rem;
        margin-right: 1rem;
      }
    }

    @include m.tablet {
      width: 100%;
      height: 42px;
      border: none;
      border-bottom: 1px solid #565656;
      background-color: transparent;
      justify-content: flex-start;
      padding-left: 1.2rem;
      border-radius: 0;
    }
  }

  &--icon {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      margin-right: 1rem;

      @include m.tablet {
        max-width: 25px;
        max-height: 25px;
        margin: 0.5rem 1rem 0 1rem;
      }
    }
  }
}

/* ====================
   SUBMENÚ
   ==================== */
.submenu {
  margin-left: 4.5rem;

  @include m.tablet {
    margin-left: 0;
  }
}

.submenu-item {
  display: flex;

  &:hover {
    font-weight: bold;
    cursor: pointer;
  }

  @include m.tablet {
    margin-top: 0.8rem;
    padding: 0.5rem 0.5rem 0.5rem 4rem;
    border-bottom: 1px solid #565656;
  }

  &.submenu-separator {
    border-bottom: 1px solid #565656;
    padding-bottom: 10px;
  }
}

.submenu-link {
  font-size: 1.3rem;
  color: black;
  display: flex;
  align-items: center;
  width: 100%;
  line-height: 15px;

  &.active {
    font-weight: bold;
    color: black;
  }

  img {
    max-width: 2rem;
    max-height: 2rem;
    margin-right: 10px;
  }

  @include m.tablet {
    font-size: 12px;
  }
}
}

