
@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;

.topImageLayout--menu {
    max-width: 18.2rem;
    width: 18.2rem;
    position: sticky;
    top: 0;

    max-height: calc(100vh - 265px);
    overflow-y: auto; 

    .topImageLayout--list {
        height: 100%;
        margin: 0rem;
        padding: 0;

        .topImageLayout--boxLink {
            margin-bottom: 1rem;
            list-style: none;

            &:last-of-type {
                margin-bottom: 0;
            }

            .link {
                display: inline-block;
                color: v.$black;
                font-family: v.$primaryFont;
                font-size: 13px;
                font-style: normal;
                line-height: 15px;

                &.active {
                    font-weight: 700;
                }

                &:hover {
                    font-weight: 700;
                    cursor: pointer;
                }
            }
        }
    }
}
