@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;

.swiper-modal__swiper {
    padding: 2.8rem !important;
    position: relative;

    .swiper-slide {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        @include m.mobile {
            min-height: 36.9rem;
        }

        @include m.mobilexs {
            min-height: 30rem;
        }

        .slider-image {
            width: 100%;
            height: 100%;
            object-fit: contain;

            @include m.mobilexs {
                object-fit: cover;
            }
        }
    }

    .swiper-pagination-bullets {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .swiper-pagination-bullet {
            width: 2rem !important;
            height: 2rem !important;
            margin: 0 3rem -0.5rem 0 !important;
            border: 0.2rem solid v.$white;
            transition: all 0.5s ease-in-out;

            &:last-of-type {
                margin-right: 0 !important;
            }

            &:hover {
                background-color: adjust(v.$white, 10%);
            }

            @include m.mobile {
                margin-right: 2rem !important;
            }

            &.swiper-pagination-bullet-active {
                background-color: v.$white !important;
            }
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        top: 50%;
        width: 2rem;
        height: 2rem;
        margin-top: -1rem;
        z-index: 99999;
        color: v.$white;
        display: flex;
        align-items: center;
        justify-content: center;

        &.swiper-button-disabled {
            display: none;
        }
    }

    .swiper-button-prev {
        left: 2px;
    }

    .swiper-button-next {
        right: 2px;
    }
}