@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;

.division--servicios{
    .servicios--main{
        width: 81.1rem;
        @include m.desktop{
            margin: 0 auto;
        }
        @include m.tablet{
            width: min(58.5rem, 100%);
        }
    }
}
