@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;

.division--academico{
    .academico--main{
        width: 58.5rem;
        @include m.desktop{
            margin: 0 auto;
        }
        @include m.tablet{
            width: min(58.5rem, 100%);
        }

        .academico--intro{

        }


        .academico--content{
            .academico--list{
                .academico--itemAcademico{
                    width: min(58.5rem, 100%);
                    padding-bottom: 2.4rem;

                    display: flex;
                    justify-content: center;
                    flex-direction: column;

                    border-bottom: 0.1rem solid v.$black;

                    .academico--content{
                        display: flex;
                        flex-direction: row;
                        .academico--image{
                            height: 14.7rem;
                            width: 14.7rem;
        
                            border-radius: 50%;
                            overflow: hidden;
    
                            margin-right: 5.4rem;
    
                            .image{
                                border-radius: 50%;
                                object-fit: cover;
                                height: 100%;
                                width: 100%;
                            }
                        }
        
                        .academico--info{
        
                            .content{
                                color: v.$black;
                                font-size: 1.6rem;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                                margin: 0rem;
                                .link{
                                    color: v.$strong-blue3;
                                }
        
                                &.title{
                                    margin-bottom: 1.5rem;
                                    font-weight: 700;
                                }
                            }
        
                        }
                    }

                    .academico--moreInfo{
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-end;
                        margin-top: 1rem;
                        .icon{
                            margin-right: 0.6rem;
                        }

                        .title{
                            color: v.$strong-blue3;
                            text-align: right;
                            font-size: 1.4rem;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 2.2rem;
                            margin: 0rem;
                        }
                    }
                }
            }
        }
    }
}