@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;

.division--inicio{
    .inicio--main{
        width: 58.5rem;
        display: grid;
        grid-template-columns: 58.5rem 1fr;
        @include m.desktop{
            margin: 0 auto;
        }
        @include m.tablet{
            width: min(58.5rem, 100%);
        }
    
        
        .inicio--intro,
        .inicio--options,
        .inicio--investigacion,
        .inicio--infraestructura {
            grid-column: 1 / 2;
        }

        #division-videoIntro{
            grid-column: 2 / 3;
            grid-row: 1 / 3;
        }

        #division-videoInfraes{
            grid-column: 2 / 3;
            grid-row: 4 / 5;
        }


        .inicio--intro{
            min-height: 32.1rem;
            margin-bottom: 7rem;
            
            .inicio--content{
                .content{
                    color: #000;
                    font-family: v.$primaryFont;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 22px;
    
                    margin: 0rem;
                }
            }
        }
    
        .inicio--options {
            width: 100%;
            min-height: 8.5rem;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(18.3rem, 1fr));
            gap: 1.7rem;
            margin-bottom: 7rem;

            @include m.desktopXL{
                gap: 1.8rem;
                place-items: center;
            }
        }
        
        .inicio--investigacion{
            margin-bottom: 7rem;
            .inicio--list{
            }
        }
    
        .inicio--infraestructura{
            .inicio--list {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(18.3rem, 1fr));
                gap: 1.8rem;

                @include m.desktopXL{
                    margin-bottom: 5rem;
                }

                @include m.tablet {
                    gap: 1;
                    row-gap: 3rem; 
                    justify-items: center;
                    align-items: start; 
                }

                @include m.mobile{
                    place-items: center;
                }
            }  
        }

        @include m.desktopXL{
            display: flex;
            flex-direction: column;

            .inicio--options{

            }
        }
    }
}
