@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;

.division--contacto {
    .contacto--main {
        width: 69.8rem;
        display: flex;
        flex-direction: column;
        row-gap: 7rem;
        
        @include m.desktop {
            margin: 0 auto;
        }

        @include m.tablet {
            width: min(69.8rem, 100%);
        }

        .contacto--intro {
            .division--titleItem{
                margin: 0;
            }
        }

        .contacto--sectionpersonal {

            .contacto--personal {
                display: flex;
                flex-wrap: wrap;
                align-items: start;
                gap: 10rem;

                @include m.desktop {
                    gap: 8rem;
                }

                @include m.tablet {
                    gap: 3rem;
                }

                @include m.mobile {
                    gap: 3rem;
                }
            }
        }

        .contacto--ipicyt {
            .contacto--ipicyt_info {
                margin-top: 3rem;

                .contacto--ipicyt_address {
                    p {
                        font-style: normal;
                    }
                }
            }

            .division-titleborderblue {
                .title {

                    @include m.tablet {
                        margin: 0;
                    }
                }
            }
        }
    }
}