@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;

.division--publi{
    .publi--main{
        width: 58.5rem;
        @include m.desktop{
            margin: 0 auto;
        }
        @include m.tablet{
            width: min(58.5rem, 100%);
        }
        .publi--intro{
            margin-bottom: 1.6rem;

            .publi--instrucciones{
                border-radius: 10px;
                background: #EEEDED;
                min-height: 74px;
                flex-shrink: 0;
                padding: 2rem;

                margin-bottom: 3.2rem;

                .instrucciones{
                    color: v.$black;
                    font-size: 1.5rem;
                    font-style: normal;
                    line-height: 2.2rem;
                    letter-spacing: -.015rem;
                }
            }

            .publi--menu{
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(8.4rem, 1fr));
                column-gap: 2rem;

                margin-bottom: 3.2rem;

                @include m.mobile{
                    display: flex;
                    flex-direction: row;
                    #division-select--years{
                        min-width: 8.4rem;
                        width: min(8.4rem, 100%);
                    }

                    #division-select--publicacion{
                        min-width: 8.4rem;
                        width: 100%;
                    }
                }

                @include m.mobilexs{
                    display: flex;
                    flex-direction: column;
                    #division-select--years{
                        min-width: 100%;
                        width: 100%;
                        margin-bottom: 1rem;
                    }

                    #division-select--publicacion{
                        min-width: 100%;
                        width: 100%;
                    }
                }
            }
            .publi--submenu{
                min-height: 8.5rem;

                padding-top: 2rem;
                padding-bottom: 3rem;

                display: grid;
                grid-template-columns: repeat(3, 1fr);
                row-gap: 1.4rem;

                @include m.mobile{
                    padding: 0rem;
                }

                .publi--menu__link{
                    .link{
                        color: v.$strong-blue3;
                        font-family: v.$primaryFont;
                        font-size: 1.4rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 1rem;
    
                        &:hover{
                            color: v.$strong-blue3;
                            font-weight: 700;
                            text-decoration-line: underline;
                            text-decoration-style: solid;
                            text-decoration-skip-ink: none;
                            text-decoration-thickness: auto;
                            text-underline-offset: auto;
                            text-underline-position: from-font;

                            cursor: pointer;
                        }

                        &.active{
                            color: v.$strong-blue3;
                            font-weight: 700;
                            text-decoration-line: underline;
                            text-decoration-style: solid;
                            text-decoration-skip-ink: none;
                            text-decoration-thickness: auto;
                            text-underline-offset: auto;
                            text-underline-position: from-font;
                        }
                    }
                }
            }
        }

        .publi--content{
            .publi--list{
            }
        }
    }
}