@use './divisionAcademico';
@use './divisionInfraestructura';
@use './divisionInicio';
@use './divisionLayout';
@use './divisionProyectos';
@use './divisionPublicaciones';
@use './divisionServicios';
@use './divisionContacto';