@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;

//* Items con buscador, solo tienen background color
@mixin item-search($bgColor) {
    .big-item-enlace{
        //* Display, Flex y Grid
        display: flex;
        justify-content: center;
        align-items: center;
        
        //* Tamaños
        height: 193px;
        width: 100%;
            
        //* Background
        background-color: $bgColor;
        
        //* Espacios
        padding: 20px;
            
        h3 {
            //* Fuentes
            color: v.$white;
            text-align: center;
            font-size: 22px;
            font-weight: v.$medium;
            
            //* Espacios 
            margin-top: 0px;
        }
        
        .box-search{
            width: 100%;
        }
    }
}
.item-biblioteca-search{
    margin-bottom: 40px;
    .big-item-enlace{
        flex-direction: row;

        h3 {
            margin-right: 20px;
        }
    }
    @include item-search(v.$dark-blue);
}
.item-servicio-search{
    margin-bottom: 40px;

    .big-item-enlace{
        flex-direction: row-reverse;

        h3 {
            margin-left: 20px;
        }
    }
    @include item-search(v.$gray);
}

//* Primarea version de la cuadircula de inicio
.item-content-enlace{
    //* Display - Flex y Grid
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;

    //* Tamaños
    width: min(311px, 100%);
    @include m.tablet {
        align-items: center;
        justify-content: center;
    }

    h3{
        //* Espacios
        margin: 0px;
        margin-bottom: 10px;
    }

    h6{
        //* Fuentes
        color: v.$white;
        font-size: 23px;
    }

    h5{
        //* Fuentes
        font-size: 15px;

        //* Espacios
        margin: 0px;
        margin-top: 10px;
    }
}
.item-enlace{
    //* Tamaños
    width: 100%;
    height: 193px;

    //* Display - Flex y Grid
    position: relative;
    display: flex;
    align-items:center;
    justify-content: center;

    background-color: v.$dark-blue;
    
    img{
        //* Tamaños 
        width: 100%;
        height: 193px;

        //* imge - videos
        object-fit: cover;
    }

    .item_text{
        //* Display - Flex y Grid
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        //* Posicionamiento
        position: absolute;

        .title_item-text{
            //* Posicionamiento
            padding-left: 8px;
            padding-right: 8px;

            //* Fuentes
            text-transform: uppercase;

            // * Posicionamiento
            position: relative;

            h6{
                //* Espacios
                margin: 0px;
                color: v.$white;
            }
        }
    }
}

//* Item de posgrado
.item-posgrado{
    width: min(44.9rem, 100%); //* 409px
    height: 13.756rem;
    display: flex;
    align-items: center;
    justify-content: center;

    a{
        padding: 1rem;
        column-gap: 3rem;
        transition: all 0.3s ease-in-out;
        height: 100%;
        width: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;

        @include m.mobile{
            column-gap: 1.5rem;
        }

        &:hover{
            background-color: #e8e4e4;
            border-radius: 8px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            -ms-border-radius: 8px;
            -o-border-radius: 8px;
        }
    
        .box-title{
            height: 100%;
            width: min(27.2rem, 100%);
    
            display: flex;
            justify-content: start;
            align-items: center;
            h3{
                font-size: 2rem;
                text-wrap: wrap;
                text-align: start;
                font-weight: v.$regular;
                color: v.$black;
                margin: 0rem;
                transition: all 0.3s ease-in-out;
    
                span{
                    font-weight: v.$bold;
                }
                @include m.desktopXL{
                    margin-left: 5px;
                }
    
                @include m.desktop{
                    font-size: 2rem;
                }
                @include m.tablet{
                    font-size: calc(1.4rem + 0.3vw);
                }
                @include m.mobile{
                    font-size: calc(1.2rem + 0.3vw);
                }
            }
        }
    }
}

.item-programas{
    //* Espacios
   padding: 2rem;
   border: 1px solid transparent;

    //* Display - Flexbox y Grid
    display: flex;
    align-items: center;
    cursor: pointer;
    @include m.mobile{
        align-items: start;
        padding-top: 1.5rem;
    }

    .item-eclipse{
        height: auto;
    }

    .duplicado{
        display: flex;
        column-gap: 2rem;
        @include m.mobile{
            padding-left: 2rem;
            padding-bottom: 1rem;
        }
    }
    .unico{
        @include m.mobile{
            padding-left: 2rem;
            padding-bottom: 1rem;
        }
    }
    
    .outside-eclipse{
        //* Tamaños
        height: 180px;
        width: 180px;

        //* Bordes
        border-radius: 50%;

        //* Display - Flexbox y Grid
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0; 

        //* Posicionamiento
        position: relative;
        background-color: #EEEEEE;
        border: 1px solid #2453F7;
    }
    .bm-eclipse-text{
        //* Espacios
        margin-left: 2rem;
        //max-width: 400px;
        span{
            font-weight: 700;
        }
        h3 {
            //* Fuentes
            font-family: v.$primaryFont;
            font-weight: 700;
            font-size: 2.2rem;
            text-transform: none;
            text-align: start;
            color: v.$black;
            margin: 0%;
            line-height: 28px;
        }
        h5{
            margin: 0%;
            font-size: 1.5rem;
            font-weight: 550;
            color: black;
        }
        .estado{
            font-size: 1.5rem;
            font-weight: 400;
        }
        .abierto{
            color: v.$green-alert;
        }
        .cerrado{
            color: red;
        }
        img{
            padding-top: 1rem;
        }
    }
    @include m.mobile{
        flex-direction: column;
    }
}
.item-programas:hover{
    border: 1px solid #cccccc;
    background-color: #f3f3f3f3;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.item-eclipse{
    height: 100%;
    max-width: 10.856rem;

    display: flex;
    justify-content:start;
    align-items: end;

    .img{
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        h2{
            font-size: 1.2rem;
            margin: 0rem;
            padding-top: 0%;
        }

        .mini-icon{
            width: 2.5rem;
            height: 2.5rem;
            position: absolute;
            border-radius: 50%;
            //background-color: white;

            top: 0.1rem;
            right: 0;

            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}
.item-convocatoria{
    .convocatoria{
        max-width: 548px;
        height: 42px;
        background-color: v.$strong-blue3;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 20px;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
        .title
        {
            font-size: 1.5rem;
            font-weight: v.$regular;
            margin: 0rem;
            padding: 0rem;
            color: v.$white;
        }
        .icon{
            font-size: 3rem;
            font-weight: v.$regular;
            margin: 0rem;
            margin-right: calc(v.$separacion / 1);
        }
    }
}


.big-item-enlace{
    //* Tamaños
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    //* Background
    background-color: v.$dark-blue;

    //* Transiciones
    transition: all ease-in-out 0.2s;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 4rem;
    padding-bottom: 4rem;

    h1 {
        //* Fuentes
        text-align: center;
        font-size: 2.2rem;
        font-weight: v.$medium;
    }

    @include m.tablet{
        a, h1{
            font-size: calc(1.5rem + 0.3vw);
        }

        .primary-button{
            height: auto;
        }
    }
}


