@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;

.modules-version-acordeon{
    border-bottom: 0.1rem solid #CCC;
    .acordeon--title{
        display: flex;
        flex-direction: row;
        align-items: center;

        &:hover{
            cursor: pointer;
        }

        .title{
            color: v.$black;

            font-family: v.$primaryFont;
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 700;
            line-height: 2.2rem;
            margin: 0rem;
            margin-top: 1.2rem;
            margin-bottom: 1.2rem;
        }

        .icon{
            width: 2.5rem;
            height: 2.5rem;
            margin-right: 1.2rem;
            color: v.$black;
            transition: transform 0.3s ease;
            flex-shrink: 0;

            &.rotated {
                transform: rotate(-90deg);
            }
        }
    }
    .acordeon--content{
        transition: opacity 0.3s ease;
        margin-top: 0.8rem;
        margin-left: 3.7rem;
        margin-bottom: 2.4rem;
    }
}