@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;

.programas-area{
    display: grid;
    row-gap: 1rem;
    column-gap: 1rem;
    place-items: center;
    grid-template-columns: repeat(2, minmax(0, 1fr));;

    @include m.desktop {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        place-items: center;
    }

    @include m.tablet {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        place-items: center;
    }

    @include m.mobile {
        place-items: center;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}