@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;

.division-profesores{
    .division-profesores--titulo{
        background-color: aliceblue;
        color: v.$black;
        text-align: center;
        font-size: 1.5rem;

        margin: 3rem 0rem;
    }

    .division-profesores--section {
        .division-profesores--academico {
            &:last-child {
                margin-bottom: 0;
                border-bottom: none;
                padding: 0;
            }
        }
    }

}