@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;

.header-area {
    //* Background
    background-color: v.$dark-blue;
    z-index: 999;
    position: relative;

    &.sticky {
        position: sticky!important;
        z-index: 999;
        animation: fadeInDown 0.7s ease-in-out;
        top: 0;
    }

    .type__header{
        display: flex;
        align-items: center;
        justify-content: center;
        height: v.$header-height;
        width: 100%;


        @include m.desktop {
            //* Espacios
            height: auto;
    
            &.container{
                padding-left: 0rem;
                padding-right: 0rem;
                margin: 0rem;
                max-width: 100%;
                width: 100%;
            }
        }
    }
}

@keyframes fadeInDown {
    from {
        //* Posicionamiento
        transform: translateY(-2rem);

        //* Otros
        opacity: 0;
    }
    to {
        //* Posicionamiento
        transform: translateY(0rem);

        //* Otros
        opacity: 1;
    }
}


#accessibility{
    .menu-btn{
        .icon{
            color: v.$white;
        }

        @include m.desktop {
            left: calc(v.$logo-ipicyt + v.$width-toggle-button + 1rem);
            top: 2%;
        }
    }
}

