@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;

.selectfillarrow {
    display: inline-flex;
    align-items: center;
    width: 100%;

    position: relative;

    .select {
        height: 4.2rem;
        width: 100%;
        padding: 0.9rem 1.6rem;
        padding-right: 3.5rem;
        background-color: v.$strong-blue3;
        border: none;
        border-radius: 10px;
        // z-index: 10;

        color: v.$white;
        font-family: v.$primaryFont;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2.2rem;

        -moz-appearance: none;
        text-indent: 0.001rem;
        -webkit-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;

        @include m.mobile{

        }

        &:focus,
        &:active {
            border: none;
            outline: 0;
        }

        &:hover {
            cursor: pointer;
        }
    }

    .boxicon{
        display: flex;
        position: absolute;
        right: 3%;
        z-index: 10;
        pointer-events: none;
    }
    .icon {
        width: 2.2rem;
        height: 1.7rem;
        position: absolute;
        // z-index: 10;
        pointer-events: none;

        right: 3%;
        transition: transform 0.3s ease;

        &--rotated {
            transform: rotate(180deg);
        }
    }
}

