@use './button/' as ipi-button;
@use './card' as ipi-card;
@use './footer' as ipi-footer;
@use './header' as ipi-header;
@use './item' as ipi-item;
@use './menu' as ipi-menu;
@use './secciones' as ipi-secciones;
@use './link' as ipi-link;
@use './form' as ipi-form;
@use './gob' as ipi-gob;
@use './modal' as ipi-modal