@forward './global';

//* Paginas de Investigacion
@forward './investigacion/investigacion';

//* Paginas de Posgrado
@forward './posgrado/info';
@forward './posgrado/program/programasPosgrado';

//* Paginas de retribucion
@forward './salas/salas';

//* Paginas de Directorio
@forward './directorio/directorio';
@forward './directorio/curricular';

//* Paginas de Acerca
@forward './acerca';

@forward './serviciosCom';

@forward './transparencia/transparencia';

@forward './laboratorios/';

@forward './grupos/';
