@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;

.noticia--inicio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include m.tablet {
        width: 100%;
        column-count: 2;
        column-gap: 1rem;
        display: unset;
    }

    @include m.mobile {
        width: 100%;
        column-count: 1;
        column-gap: 0;
    }
}