@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;

.noticia--detalle{
    .noticia--section-main{
        .noticia--boxtitulo{
            .noticia--titulo{
                color: v.$black;

                font-size: 3.5rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;

                margin-top: 0rem;

                margin-bottom: 3.6rem;

                @include m.tablet{
                    font-size: 2.5rem;
                }
                @include m.mobile{
                    font-size: 2.2rem;
                }
            }
        }

        .noticia--boxfecha{
            .noticia--fecha{
                color: #565656;

                font-family: "Noto Sans";
                font-size: 15px;
                font-style: italic;
                font-weight: 400;
                line-height: 22px;

                margin-bottom: 3.6rem;
            }
        }

        .noticia--boxinfo{
            margin-bottom: 3.6rem;
            .noticia--info{

            }
        }

        .noticia--boxLugar{
            margin-bottom: 3.6rem;
            .noticia--lugar{
                color: #000;

                font-family: "Noto Sans";
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 22px; /* 146.667% */
            }
        }

        .noticia--boximg {
            display: flex;
            
            .noticia--img {
                margin: 0 auto;
                object-fit: cover;

                height: 100%;
                width: min(100%, 60rem);

                &:hover{
                    cursor: pointer;
                }

                @include m.mobile{
                    height: auto;
                    margin: 0rem;
                    // width: auto;
                    width: 100%;
                }

                @include m.mobilexs{
                    min-width: 18.5rem;
                    object-fit: contain;
                }
            }
        }
    }
}