@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;

.ipi-logos{
    max-width: 481.1px;
    max-height: 40px;
    width: 100%;
    height: 100%;

    position: relative;
    &.ipi-logos-sticky{
        max-width: 118.1px;
        width: 100%;
    }

    .ipi-logos-container{
        width: 100%;
        height: 100%;
        position: absolute;

        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;

        .ipi-link{
            &:hover{
                cursor: pointer;
            }
        }

        .ipi-logo-conahcyt{
            width: 331.6px;
            height: 100%;
        }

        .ipi-logo-ipicyt{
            width: 118.1px;
            height: 100%;
        }
    }
}