@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;

.ipi-main-menu {
    display: flex;
    align-items: end;
    justify-content: end;

    .ipi-menu__nav {
        width: 100%;

        .ipi-menu__links {
            margin: 0;
            padding: 0;

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .ipi-link__box {
                display: inline-flex;
                list-style: none;
                position: relative;

                &:hover>.ipi-submenu-header {
                }
            }
        }
    }
}

.ipi-submenu-header {
    //* Tamaños
    width: max-content;
    max-width: 35rem;
    max-height: 60rem;

    //* Espaciados
    padding: 3rem 3rem;

    //* Posicionamiento
    position: absolute;
    top: 100%;
    left: 0%;
    z-index: 999;

    //* Visibilidad
    overflow-y: auto;

    //* Background
    background-color: v.$white;
    box-shadow: 0 0 0.7rem 0.05rem rgba(0, 0, 0, 0.15);

    //* Transform
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: center top 0;
    transform-origin: center top 0;

    //* Transiciones
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;

    left: 0;
    right: auto;
    transform-origin: left top;

    &[data-align="right"] {
        left: auto;
        right: 0;
        transform-origin: right top;
    }

    a {
        text-decoration: none;
        color: v.$dark-blue;
        font-size: 1.5rem;

        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
            color: v.$black;
        }
    }

    //* Scroll
    @include m.scroll-style(0.2rem);

    &.ipi-submenu {
        opacity: 1;
        visibility: visible;
        transform: rotateX(0deg);
    }

    .ipi-submenu-list {
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: repeat(15, auto);

        margin: 0;
        padding: 0;

        .ipi-li-link {
            list-style-type: none;

            .ipi-link {
                width: fit-content;
                display: flex;
                align-items: center;
                justify-content: start;
                font-weight: 400;
                font-size: 1.3rem;
                line-height: 1.5rem;
                position: relative;
                margin-bottom: 1.2rem;

                &:last-child {
                    margin-bottom: 1.2rem;
                }

                &:hover {
                    cursor: pointer;
                    color: v.$black;

                    &::before {
                        content: "";
                        position: absolute;
                        display: inline-block;
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        background-color: v.$gray-blue;
                        left: -15px;
                    }
                }
            }

            .ipi-subtitulo {
                font-size: 1.3rem;
                line-height: 1.5rem;
                font-weight: bold;
                margin-bottom: 1.2rem;
            }
        }
    }
}