@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;

.header-sidebar {
    //* Tamaños
    height: 100vh;
    width: v.$sidebar-width;

    //* Fuentes
    color: v.$white;

    //* Background
    background-color: v.$dark-blue;

    //* Posicionamiento
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    //* Display - Flexbox y Grid
    display: flex;
    flex-direction: column;

    //* Transiciones
    transform: translateX(-100%);
    transition: transform v.$header-speed ease-in-out;

    a {
        text-decoration: none;
        color: v.$dark-blue;
        font-size: 1.5rem;

        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
            color: v.$black;
        }
    }

    &.active {
        transform: translateX(0%);
    }

    &.isHeaderSticky {
        .box-title {
            height: 4.8rem;
        }
    }

    .box-title {
        flex-shrink: 0;
        height: 4.8rem;

        padding: 1.2rem;
        display: flex;
        flex-direction: row;
        align-items: end;
        justify-content: space-between;

        gap: 3rem;

        .title-link {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            gap: 1rem;

            .ipi-title-sidebar {
                color: #E3C79E;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin: 0rem;
            }
        }
    }

    .box-links {
        flex: 1;
        min-height: 0;
        overflow-y: auto;
        overflow-x: hidden;
        
        /* Chrome, Edge, Safari */
        scrollbar-width: none!important;  /* Firefox */
        -ms-overflow-style: none!important; /* IE y Edge antiguos */
        &::-webkit-scrollbar {
            display: none; /* Chrome, Safari y Opera */
        }
        ::-webkit-scrollbar {
            display: none;
        }
        
        &::-webkit-scrollbar {
            display: none; /* Chrome, Safari y Opera */
        }

        .link-menu {
            //* Bordes
            border-top: solid 1px v.$strong-blue;

            &:last-child {
                border-bottom: solid 1px v.$strong-blue;
            }

            .primary-link {
                //* Tamaños
                width: 100%;
                height: 4.8rem;

                position: relative;

                //* Display - Flexbox y Grid
                display: flex;
                align-items: center;
                justify-content: space-between;

                //* Transiciones
                transition: all 0.3s ease-in-out;

                &:before {
                    content: "";
                    position: absolute;
                    right: 5rem;
                    bottom: 50;
                    height: 60%;
                    border-left: 0.1rem solid v.$light-gray;
                }

                &:hover {
                    cursor: pointer;
                    background-color: v.$strong-blue;
                }

                &.active-primary-link {
                    background-color: v.$strong-blue2;
                }

                &.withoutsubmenu {
                    &::before {
                        display: none;
                    }

                    .title-link {
                        width: 100%;
                    }
                }

                .title-link {
                    //* Espacios
                    padding: 0.5rem 0.5rem 0.5rem 1rem;
                    position: relative;
                    border: solid 0.3rem transparent;

                    //* Fuentes
                    font-size: 1.5rem;
                    color: v.$white;
                    font-weight: v.$medium;

                    //* Tamaños
                    display: inline-block;
                    width: calc(100% - 50px);
                    height: 100%;

                    //* Display - Flexbox y Grid
                    display: flex;
                    align-items: center;

                    &:active {
                        border: solid 0.3rem v.$strong-blue2;
                    }
                }

                .toggle-link {
                    //* Tamaños
                    height: 100%;
                    width: 5rem !important;
                    border: solid 0.3px transparent;

                    //* Display - Flexbox y Grid
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    //* Posicionamiento
                    position: relative;

                    .icon {
                        width: 1.6rem;
                        height: 1.6rem;
                        transition: all 0.2s ease-in-out;

                        &.active-icon {
                            transform: rotate(180deg);
                        }
                    }

                    &:active {
                        border: solid 0.3rem v.$strong-blue2;
                    }
                }
            }

            .submenu {
                //* Transiciones
                transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;

                //* Background
                background-color: v.$white;

                //* Espacios
                padding: 0;
                max-height: 0;
                opacity: 0;

                //* Fuentes
                color: v.$dark-blue;

                //* Display - Flexbox y Grid
                overflow: hidden;

                .submenu-link {
                    //* Display - Flexbox y Grid
                    display: inline-flex;
                    flex-direction: column;
                    padding: 1rem;

                    a {
                        //* Fuentes
                        font-size: 1.5rem;
                        color: v.$dark-blue;
                        font-weight: v.$light-bold;

                        //* Transiciones
                        transition: color 0.3s ease-in-out;

                        //* Espacios
                        margin-bottom: 1rem;

                        &:last-of-type {
                            margin-bottom: 0;
                        }

                        &:hover {
                            color: v.$strong-blue2;
                        }

                        &.router-link-exact-active {
                            color: v.$black;
                        }
                    }

                    .subtitulo {
                        font-size: 1.5rem;
                        font-weight: 700;
                        margin-top: 1rem;
                        margin-bottom: 0.5rem;

                        &:first-child {
                            margin-top: 0;
                        }
                    }
                }

                &.active-submenu {
                    //* Otros
                    opacity: 1;

                    //* Tamaños
                    max-height: 50rem;

                    //* Espacios
                    padding: 1rem;

                    //* Display - Flexbox y Grid
                    display: block;

                    //* Scroll
                    overflow-y: auto;
                    @include m.scroll-style(5rem);

                    .submenu-link {
                        //* Espacios
                        margin-bottom: 1rem;

                        //* Tamaños
                        max-height: 100%;

                        &:last-of-type {
                            margin-bottom: 0;
                        }
                    }
                }

            }
        }
    }
}