@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;

.vinculacion--propIntelectual{
    max-width: 78.9rem;
    .propIntelectual--intro{
        display: flex;
        align-items: start;
        justify-content: start;
        flex-direction: row;
        gap: 2rem;

        margin-bottom: 4.6rem;

        @include m.tablet{
            flex-direction: column;
        }

        @include m.mobile{
            gap: 0rem;
        }

        .propIntelectual--info{

        }
    } 
    
    .propIntelectual--content{
        .propIntelectual--patentes{
            margin-bottom: 6.5rem;
        }
    }

}