@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;
.vinculacion{
    max-width: 789px;
    h2{
        font-size: 2.1rem;
    }
    .cont_intro{
        display: flex;
        justify-content: center;
        gap: 2rem;
        @include m.mobile{
            gap: 0rem;
            flex-direction: column;
        }
        .intro_desc{
            display: grid;
            h2{
                font-size: 2.1rem;
                margin-top: 1rem;
                margin-bottom: 1rem;
            }
            p{
                margin-top: 2rem;
                margin-bottom: 2rem;
            }
            max-width: 588px;
            @include m.mobile{
                margin: 0%;
            }  
        }
    }
    .vinculacion_list{
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom:  0.1rem solid hsl(0, 0%, 0%);

        margin-bottom: 4.6rem;
        h2{
            padding: 2rem 0 2rem 0;
        }
        p{
            padding-bottom: 2rem;
        }
    }
}