@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;
.lemur{
    display: flex;
    column-gap: 10rem;
    @include m.desktop{
        flex-direction: column;
    }
    .lemurContainer{
        height: 100%;
        width: auto;
        .curricularLink{
            color: #0E149B;
            cursor: pointer;
        }
        .curricularLink:hover{
            text-decoration: underline;
        }
        .coordinadores{
            max-width: 180px;
            padding: 1.5rem 0 1.5rem 0;
            p{
                padding: 0%;
            }
            @include m.mobile{
                max-width: 135px;
            }
        }
        .coordinadores_c{
            margin-top: 3rem;
            gap: 2rem;
            @include m.desktop{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
            } 
            @include m.mobile{
                grid-template-columns: repeat(2, 1fr);
            }
        }
        .descripcion{
            margin-bottom: 5rem;
            max-width: 590px;
            .imgLemur{
                padding-bottom: 3rem;
            }
            @include m.mobile{
                img{
                   max-width: 200px;
                   padding: 1rem 0 1rem 0;
                }
            }
        }
        .participantesLEMUR{
            display: grid;
            row-gap: 3rem;
            margin-top: 3rem;
            p{
                padding: 0%;
            }
        }
        .participantes{
            display: grid;
            column-gap: 2rem;
            row-gap: 1rem;
            grid-template-columns: repeat(2, 1fr);
            @include m.mobile{
                grid-template-columns: repeat(1, 1fr);
            }
            .participantesInfo{
                display: grid;
                row-gap: 3rem;
                p{
                    margin: 0%;
                    padding: 0%;
                }
            }
        }
        .testimonios{
            row-gap: 3.5rem;
            display: grid;
            padding: 3rem 0 0rem 0;
            .itemTestimonio{
                display: flex;
                padding: 1rem 0 1rem 0;
                column-gap: 1rem;
                p{
                    padding: 0%;
                }
                .italic{
                    font-style: italic;
                }
                @include m.mobile{
                    flex-direction: column-reverse;
                }
            }
        }
        .reportes{
            a{
                color: black;
                font-weight: bold;
                text-decoration: underline;
            }
            a:hover{
                color: #2453f7;
            }
        }
        .video{
            p{
                padding: 0%;
            }
        }
        ul,ol{
            padding: 1.5rem 0 1.5rem 0;
        }
        ul,ol{
            padding-left: 2rem;
        }
        li{
            line-height: 2.5rem;
        }
        .contactoItem {
            p{
                padding: 0%;
            }
        }
        @include m.desktop{
            padding-bottom: 3rem;
            .contactoItem {
                margin-bottom: 0%;
            }
        }
    }
    h3{
        color: black;
        font-size: 2.2rem;
    }
}