@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;

.division--menu {
    max-width: 18.2rem;
    width: 18.2rem;
    height: auto;
    position: sticky;
    top: 0;

    .division--list {
        height: auto;
        margin: 0rem;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .division--boxLink {
            list-style: none;

            &:last-of-type {
                margin-bottom: 0;
            }
            line-height: 1.5rem;

            .link {
                color: v.$black;
                font-family: v.$primaryFont;
                font-size: 1.3rem;
                font-style: normal;
                line-height: 1.5rem;

                &.active {
                    font-weight: 700;
                }

                &:hover {
                    font-weight: 700;
                    cursor: pointer;
                }
            }
        }
    }
}
