@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;

.division-btn--trasparent{
    border: 1px solid v.$strong-blue3;
    border-radius: 20px;
    background-color: transparent;
    padding: 2rem 5rem;
    height: 10rem;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    &:hover{
        cursor: pointer;
        background-color: v.$light-gray;
    }

    .btn--trasparent-img{
        width: 7rem;
        height: 7rem;
        margin-right: 3rem;
        flex-shrink: 1;
    }

    .btn--trasparent-text{
        color: v.$black;
        font-family: "Noto Sans";
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px;
    }
    
    
    @include m.desktop{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        .btn--trasparent-text {
            font-size: 1.8rem;
            text-align: center;
        }
        .btn--trasparent-img{
            margin-bottom: 1rem;
        }
    }
    @include m.mobile{
        .btn--trasparent-text {
            font-size: 1.5rem;
        }
        .btn--trasparent-img{
            margin: 0;
            width: 5rem;
            height: 5rem;
        }
    }
}