@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;

.division-profesores--academico{
    width: min(58.5rem, 100%);
    padding-bottom: 2.4rem;

    display: flex;
    justify-content: center;
    flex-direction: column;

    margin-bottom: 3rem;

    border-bottom: 0.1rem solid v.$black;

    .academico--content{
        display: flex;
        flex-direction: row;

        @include m.tablet{
            flex-direction: column;

            .academico--info{
                margin-bottom: 2rem;
            }

            .academico--image{
                margin-bottom: 2rem;
            }
        }

        .academico--image{
            height: 14.7rem;
            width: 14.7rem;

            border-radius: 50%;
            overflow: hidden;

            margin-right: 5.4rem;
            flex-shrink: 0;

            .image{
                border-radius: 50%;
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }

        .academico--info{

            .content{
                color: v.$black;
                font-size: 1.5rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin: 0rem;
                .link{
                    color: v.$strong-blue3;
                }

                &.title{
                    margin-bottom: 1.5rem;
                    font-weight: 700;
                    font-size: 1.8rem;
                }
            }

            .negritas{
                font-weight: 700;;
            }

        }
    }

    .academico--resumen{
        margin-top: 2rem;
    }

    .academico--moreInfo{
        display: inline-flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        margin-top: 2rem;
        width: fit-content;
        &:hover{
            cursor: pointer;
            text-decoration: underline; 
            color: v.$strong-blue3;
        }
        
        .icon{
            margin-right: 0.6rem;
            height: 1.5rem;
            width: 1.5rem;
        }

        .link{
            color: v.$strong-blue3;
            text-align: right;
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 400;
            line-height: 2.2rem;
            margin: 0rem;
        }
    }
}