@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;

.divisvion--itemEquipo {
    width: min(58.5rem, 100%);
    min-height: 24.2rem;
    border-bottom: 0.1rem solid v.$black;
    padding: 3rem 0rem;

    display: flex;
    gap: 1.56rem;


    &:first-of-type {
        border-bottom: 0.1rem solid v.$black;
        border-top: 0.1rem solid v.$black;
    }

    @include m.mobile {
        flex-direction: column;


        &:first-of-type {
            border-top: none;
            padding-top: 0rem;
        }
    }

    .division--img {
        height: 18.2rem;
        width: min(18.2rem, 100%);
        flex-shrink: 0;
        position: relative;
        z-index: 0;

        &:hover {
            cursor: pointer;
        }

        @include m.mobile {
            margin: 0 auto 0 0;
            align-self: flex-start;
            height: 15rem;
            width: min(15rem, 100%);
        }

        .without-imgs {
            object-fit: contain!important;
            &:hover {
                cursor: auto !important;
            }
        }


        .img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        .division--icon {
            height: 3.1rem;
            width: 3.1rem;
            background-color: v.$white;
            position: absolute;
            bottom: 1rem;
            right: 1rem;
            padding: 0rem !important;

            display: flex;
            align-items: center;
            justify-content: center;

            .icon {}
        }
    }

    .division--content {
        flex-grow: 1;
        min-width: 0;

        .content {
            color: v.$black;
            font-family: v.$primaryFont;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;
            /* 157.143% */

            margin: 0rem;



            &.title {
                padding: 0;
                margin-bottom: 0.3rem;
            }

            &.negritas {
                font-weight: 700;
            }

            &.index {}
        }

        .content-link {
            color: v.$strong-blue3;
            word-wrap: break-word;
            overflow-wrap: break-word;
            white-space: normal;
            display: inline-block;
            max-width: 100%;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}