@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;

.topImage--division {
    //* Display
    display: flex;
    align-items: center;
    justify-content: center;

    //* Tamaños
    width: 100%;
    aspect-ratio: 1600 / 230;
    min-height: 23rem;

    //* Posición
    position: relative;

    //* Espacios
    margin-bottom: 4rem;

    //* Otros
    overflow: hidden;
    padding: 0 4rem;

    @include m.mobile{
        min-height: 20rem;
    }

    &.skeleton{
        padding: 0;
    }

    figure{
        position: absolute;
        width: 100%;
        height: 100%;
        .image {
            width: 100%;
            height: 100%;
            min-height: 23rem;
            object-fit: cover;
        }
    }


    .topImage--content{
        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;
        padding: 0 4rem;

        transition: all 0.3s;
        .title {
            margin: 0rem;

            text-align: center;
            text-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.60);
            font-family: v.$primaryFont;
            font-size: 4.2rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            transition: all 0.3s;
            color: v.$white;
        }

        .topImage--icon {
            width: 11.3rem;
            height: 11.3rem;
            margin-right: 3rem;
            border-radius: 50%;
            flex-shrink: 0;
            transition: all 0.3s;
        
            .icon {
                object-fit: cover;
                width: 100%;
                height: 100%;
                z-index: 1;
                border-radius: 50%;
                cursor: default;
            }
        }
        

        @include m.desktop{
            flex-direction: column;
            .title {
                font-size: 3.2rem;
            }
            .topImage--icon{
                margin: 1rem;
                width: 7.5rem;
                height: 7.5rem;
            }
        }
        @include m.mobile{
            .title {
                font-size: clamp(2.2rem, 1vw, 2.5rem);
            }
            .topImage--icon{
                margin: 0;
                width: 5rem;
                height: 5rem;
            }
        }
    }
}
