@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;

.publi--subtitle{
    margin-bottom: 3.2rem;
    .subtitle{
        color: v.$strong-blue3;
        font-size: 2.2rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2.2rem;
        letter-spacing: -.022rem;
    }
}