@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;


.division_video--aside {
    width: min(18.1rem, 100%);
    margin-left: 4.3rem;
    margin-top: 5.44rem;

    .division--mainVideo {
        &:hover {
            cursor: pointer;

            .division--videohelpBack {
                background-color: rgba(0, 0, 0, 0.2);
            }

            .content {
                text-decoration: underline;
                text-decoration-color: v.$gray;
            }
        }

        .division--video {
            width: 18.1rem;
            height: 18.1rem;
            position: relative;
            flex-shrink: 0;
            z-index: -1;
            margin-bottom: 1.7rem;

            .division--videobox {
                @extend %center-flex;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                position: relative;
                overflow: hidden;

                .icon {
                    position: absolute;
                }

                .deepImage {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }

            .division--videohelpBack {
                @extend .division--videobox;
                top: 0;
                position: absolute;
            }
        }

        .division--info {
            padding-top: 1.7rem;
            border-top: 0.1rem solid v.$black;
            .content {
                color: v.$black;
                font-size: 1.5rem;
                font-weight: 400;
                line-height: 2.2rem;
                margin-bottom: 0.3rem;
    
                &.negritas {
                    font-weight: 700;
                }
            }
        }
        
    }

    @include m.desktopXL {
        width: 100%;
        height: 181px;
        margin: 0rem;
        margin-bottom: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;

        .division--mainVideo {
            display: inline-flex;
            justify-content: center;
            height: 100%;
            margin: 0 auto;

            .division--video{
                margin-bottom: 0rem;
                margin-right: 1.7rem;
            }

            .division--info{
                padding-top: 0rem;
                border-top: none;
                padding-left: 1.7rem;
                border-left: 0.1rem solid v.$black;
            }
        }
    }

    @include m.mobile{
        margin-bottom: 7rem;
        height: auto;

        .division--mainVideo {
            .division--video {
                width: 15rem;
                height: 15rem;
            }

            .division--info{
                border-left: 0.1rem solid #ccc;
            }
        }
    }
}

%center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

