@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;

.division--titleFill{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-bottom: 6rem;
    width: 100%;
    height: 7.6rem;
    background-color: v.$strong-blue3;

    padding: 1.7rem;
    

    .division--title{
        color: v.$white;

        font-family: v.$primaryFont;
        font-size: 2.2rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2.8rem;
        letter-spacing: -0.02rem;
        margin: 0rem;
        flex: 1;
        min-width: 0;
   
        @include m.mobile{
            font-size: 2rem;
            max-width: 100%;
            white-space: normal; 
        }
   
    }
    .division--icon{
        background-color: v.$light-gray;
        border-radius: 50%;
        height: 4.4rem;
        width: 4.4rem;

        margin-right: 1.5rem;
        overflow: hidden;
        flex-shrink: 0;

        .icon{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}




