@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;

.division--card{
    width: min(18.3rem, 100%);
    .division-cardmain{
        &:hover{
            cursor: pointer;    
            .division--content{
                .division--title{
                    .title{
                        text-decoration: underline;
                        text-decoration-color: v.$gray;
                    }
                }
            }

            .division--image{
                .img{
                    filter: brightness(0.8);
                }
            }
        }
        .division--image {
            width: min(18.3rem, 100%);
            height: 18.3rem;
            margin-bottom: 1rem;
            position: relative;

            .img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                transition: background-color 0.3s ease, filter 0.3s ease;
            }
        }
    
        .division--content{
            .division--title{
                margin-bottom: 1rem;
                .title{
                    color: v.$black;
    
                    font-family: v.$primaryFont;
                    font-size: 1.5rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 2.2rem;
                    margin: 0rem;
                }
            }
            .division--link{
                .link{
                    color: v.$strong-blue3;
                    font-family: v.$primaryFont;
                    font-size: 1.5rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 2.2rem;
                    margin: 0rem;
                }
            }
        }
    }

    @include m.mobile{
        width: 100%;

        .division-cardmain{
            display: flex;
            flex-direction: row;

            .division--image {
                margin: 0rem;
                flex: 0 0 15rem;
                height: 15rem;
            
                .img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .division--content{
                margin-left: 2rem;
            }
        }
    }
}