@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;
@use "sass:color";

$padding: 4rem;
$sidebar-width: 27rem;
$topimage-height: 23rem;

.division-sidebar--content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;

    z-index: 996;
    transition: all 0.3s ease-in-out;
    transform: translateX(calc(-100%));

    &.slice-toggle {
        .division--toggle {//JDRM
        }
        .division-sidebar{
        }
    }

    .division-sidebar--sticky{
        position: sticky;
        top: 0;
        left: 0;
    }

    .sidebar-container {
        display: flex;
        height: 100%;
        position: relative;
    }

    @each $division, $color in (DBM: v.$dbm, DCA: v.$dca, DCSD: v.$dcsd, DGA: v.$dga, DMA: v.$dma) {
        &.#{$division} {
            .division--toggle .icon {
                color: $color;
            }
        }
    }

    .division-sidebar {
        position: sticky;
        left: 0rem;
        top: 0;

        transition: all 0.3s ease-in-out;
        background-color: v.$light-gray;
        opacity: 0;
        transform: translateX(0);
        min-width: $sidebar-width;
        width: $sidebar-width;

        &.open{
            opacity: 1;
            transform: translateX(calc($sidebar-width + 4.8rem));
        }
        .division-sidebar--boxlink {
            width: 100%;
            border-bottom: 0.15rem solid v.$black;

            &:last-of-type {
                border-bottom: none;
            }

            .link {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: start;
                width: 100%;
                min-height: 6rem;
                padding-left: 5rem;
                font-family: v.$primaryFont;
                font-size: 1.5rem;
                color: v.$black;
                font-style: normal;
                line-height: normal;

                &:hover {
                    font-weight: 700;
                    cursor: pointer;
                }

                &:active {
                    border: 0.3rem solid color.adjust(#D9D9D9, $lightness: -10%);
                    background-color: color.adjust(#D9D9D9, $lightness: 5%);
                }


                &.active {
                    font-weight: 700;
                }

                .img {
                    position: absolute;
                    left: 1rem;
                    width: 3rem;
                    height: 3rem;
                }
            }
        }
    }

    .division--toggle {
        position: sticky;
        left: 0rem;
        top: 0;
        height: 4.8rem;
        width: 4.8rem;
        z-index: 997; 

        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(4.8rem);
        padding: 0;
        background-color: transparent;
        border: none;
        transition: all 0.3s ease-in-out;

        &.open {
            transform: translateX(calc($sidebar-width + 4.8rem));
            background-color: v.$light-gray;
        }

        .icon {
            width: 3rem;
            height: 3rem;
            color: v.$black;
        }

        &:hover {
            cursor: pointer;
        }
    }
}
