@use './divisionAcordeon';
@use './divisionVideoAside';
@use './divisionEquipo';
@use './divisionArticulo';
@use './divisionEclipse';

@use './divisionSubtitle';
@use './divisionTitle';
@use './divisionTitleFill';

@use './divisionButton';
@use './divisionButtonFill';
@use './divisionButtonTransparent';

@use './divisionCard';

@use './divisionTopImage';


@use './divisionMenu';
@use './divisionMenuResponsive';


@use './divisionServiciosItem';

@use './divisionAcademico';

@use './divisionPersonalContacto';