@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;


.retribucion{
    width: 100%;
    .retribucion--title{
        margin: 0rem;
        color: v.$black;
        font-size: 2.2rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2.8rem;
        margin-bottom: 5rem;
    }

    .retribucion--filter{
        .retribucion--filter_menu{

        }

        .retribucion--filter_content{
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(28.7rem, 1fr));
                gap: 2rem;

                @include m.desktopXL{
                    place-items: center;
                }

                @include m.tablet {
                }

                @include m.mobile{
                    grid-template-columns:repeat(1, 1fr);
                }
        }
    }
}