@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;

#footer-principal {
    // //* Background
    background-color: v.$main--footer-red;

    .box-footer {
        //* Tama単os
        width: 100%;

        //* Espacios
        padding-top: 4rem;
        padding-bottom: 4rem;

        //* Display - Flexbox y Grid
        display: grid;
        place-items: start;
        grid-template-columns: repeat(3, 1fr);

        gap: 2rem;

        @include m.desktop {
            grid-template-columns: repeat(2, minmax(0, 1fr));
            row-gap: 4rem;
        }

        @include m.tablet {
            grid-template-columns: repeat(2, minmax(0, 1fr));
            row-gap: 3rem;
            padding-left: 2rem;
            padding-right: 2rem;
        }

        @include m.mobile {
            grid-template-columns: repeat(1, minmax(0, 1fr));
            row-gap: 2rem;
        }

        &::before {
            //* Display - Flexbox y Grid
            display: none;
        }

        .subarea-footer {
            width: 100%;

            picture {
                display: flex;
                justify-content: start;
                align-items: start;

                .logo__footer {
                    //* Tama単os
                    min-width: 18.5rem;
                    flex-shrink: 0;
                    height: min(40rem, 100%);
                    width: min(24.7rem, 100%);
                }
            }

            .info__ubicacion {
                height: min(10.2rem, 100%);
                width: min(30.5rem, 100%);

                .info {
                    //* Espacios
                    margin: 0rem;

                    //* Fuentes
                    font-weight: 400;
                    font-size: 1.6rem;
                    line-height: 1.95rem;
                    color: v.$body--footer-brown;
                }
            }

            .redes {
                //* Tama単os
                height: 100%;

                //* Display - Flexbox y Grid
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 1.5rem;

                @include m.mobile {
                    flex-wrap: wrap;
                }
            }
        }
    }
}

.item-social_footer {
    //* Display - Flexbox y Grid
    display: flex;
    justify-content: center;
    align-items: center;

    //* Bordes
    border-radius: 50%;

    //* Background
    //background-color: $textLink;

    //* Tama単os
    height: 5.3rem;
    width: 5.3rem;

    //* Transiciones
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;

    img {
        max-width: 5.3rem;
        max-height: 5.3rem;

        @include m.mobile {
            max-width: 4.5rem;
            max-height: 4.5rem;
        }
    }

    &:hover {
        //* Background
        cursor: pointer;
    }
}