@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;

.box-divisiones{
    margin-bottom: 40px;

    //* Display - Flexbox y Grid
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: row;

    .item-division{
        width: min(139px, 100%);
        //* Display - Flexbox y Grid
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img{
            //* Tamaños
            width: min(139px, 100%);
            height: 139px;
        }

        a{
            //* Fuentes
            font-size: 19px;
            line-height: 23.16px;
            text-decoration: none;
            color: v.$black;
            text-transform:capitalize;
            span {
                //* Fuentes
                font-weight: bolder;
            }
        }
    }
}

.top-image-inv{
    //* Espacios
    margin-bottom: 40px;

    //* Background
    background-color: lightgray;

    h1{
        //* Fuentes
        color: v.$dark-blue;
    }
}

@include m.tablet {
    .box-divisiones {
        //* Display - Flexbox y Grid
        flex-direction: column;
        align-items: center;
    }

    .box-convocatorias{

        flex-direction: column;
        align-items: center;
    }

    .item-convocatoria{
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 0px;
        margin-right: 0px;
    }
}

@include m.mobile {
    .item-convocatoria{
        margin-left: 20px;
        margin-right: 20px;
    }
}



.box-convocatorias {
    margin-bottom: 40px;

    //* Display - Flexbox y Grid
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: row;

    .item-convocatoria {
        //* Display, Flexbox y Grid
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: red;

        //* Tamaños
        width: 311px;
        height: 193px;

        //* Transiciones
        transition: all ease-in-out 0.2s;

        //*Background
        background-color: v.$dark-blue;

        &:hover{
            //* Otros
            cursor: pointer;
            opacity: 0.7;
        }

        a{
            //* Fuentes
            font-size: 17px;
            line-height: 20.72px;
            text-decoration: none;
            color: v.$white;
        }
    }
}