@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;

@mixin btnBase($height, $paddingX, $paddingY, $bgColor, $borderRadius, $fontSize, $color) {
    height: $height;
    padding-left: $paddingX;
    padding-right: $paddingX;
    padding-top: $paddingY;
    padding-bottom: $paddingY;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: v.$bold;
    line-height: $fontSize;
    font-size: $fontSize;
    color: $color;
    background-color: $bgColor;

    border-radius: $borderRadius;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;

    &:hover {
        cursor: pointer;
    }

    &:active {
        background-color: adjust($bgColor, -10%);
    }
}

.ipi-btn--profile {
    @include btnBase(auto, 1.5rem, 0.7rem, v.$white, 0.5rem, 1.4rem, v.$black);

    .title {
        margin: 0;
        margin-right: 1rem;
        color: v.$black;
        font-size: 1.2rem;
    }

    border: 0.1rem solid transparent;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
                rgba(0, 0, 0, 0.24) 0px 1px 2px;

    .icon {
        width: 1.5rem;
        height: 1.5rem;
        color: black;
        transition: all ease-in-out 0.3s;
    }

    &:active {
        background-color: adjust(v.$white, 10%);
        .icon {
            transform: rotate(90deg);
        }
    }
}


