@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;
.salas{
    max-width: 789px;
    width: 100%;
    .instrucciones{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90px;
        background-color: #eeeded;
        margin-bottom: 7.2rem;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        img{
            padding: 2rem;
        }
    }
    .acordeon{
        h5{
            color: black;
            font-weight: 600;
            font-size: 2.2rem;
        }
        position: relative;
        padding-top: 1rem;
        &::before {
            content: "";
            height: 0.05rem;
            width: 100%;
            position: absolute;
            top: 0;
            background-color: lightgray;
        }
    }
    .reservas {
        width: 100%;
        border-collapse: collapse;
        margin-top: 4.2rem;
    }

    .reservas th,
    .reservas td {
        padding: 2.5rem 1rem 2.5rem 1rem;
        vertical-align: top;
        @include m.mobile{
            padding: 0%;
        }
    }

    .reservas td {
        border-top: 1px solid #ddd;
        height: auto;
    }

    .reservas span{
       display: table;
       margin-bottom: 2rem;
       @include m.mobile{
        margin-right: 2rem;
       }
    }

    .reservas th {
        text-align: left;
        font-weight: bold;
        color: #2453F7;
    }

    .reservas a {
        color: #2453F7;
        text-decoration: underline;
    }

    .reservas a:hover {
        font-weight: bold;
        color: black;
    }

     @media screen and (max-width: 768px) {
            table, thead, tbody, th, td, tr {
                display: block;
                width: 100%;
            }

            thead {
                display: none;
            }

            tr {
                margin-bottom: 4rem;
                border: 1px solid #ccc;
            }

            td {
                display: flex;
                flex-direction: row;
                align-items: stretch;
                padding: 0;
                border-top: 1px solid #eee;
                word-break: break-word;
                hyphens: auto;
                -webkit-hyphens: auto;
                -moz-hyphens: auto;
                -ms-hyphens: auto;
            }

            td::before {
                content: attr(data-label);
                display: inline-block;
                width: 115px;
                min-width: 115px;
                padding: 1rem;
                background-color: #848BA6;
                color: white;
                font-weight: bold;
                box-sizing: border-box;
                margin-right: 1rem;
            }

            td {
                width: 100%;
                padding-left: 0;
            }

            td > * {
                padding: 1rem;
                width: 60%;
                box-sizing: border-box;
                background-color: white;
            }

            td:last-child {
                border-bottom: none;
            }
        }
}