// @use '@styles/base/variables' as v;
// @use '@styles/base/mixins' as m;

// @mixin iconBtn($bg-color){
//     //* Display - Flex y Grid
//     display:flex;  
//     align-items: center;
//     justify-content: center;

//     //* Fuentes
//     // font-family: $montserratFont;
//     font-weight: v.$medium;
//     font-size: 2.3rem;
//     color: v.$white;

//     //* Background
//     background-color: $bg-color;

//     //* Bordes
//     border: 0.1rem solid $bg-color;
//     border-radius: 0.5rem;

//     //* Sombras
//     box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

//     //* Espacios
//     padding: 5px;

//     //* Transiciones
//     transition: all ease-in-out .1s;

//     .icon{
//         width: 20px;
//         height: 20px;
//         color: v.$white;
//     }

//     &:hover{
//         cursor: pointer;
//     }

//     &:active{
//         //* Background
//         background-color: adjust-color($color: $bg-color, $lightness: 10%);
//         border-color: adjust-color($color: $bg-color, $lightness: 10%);
//     }
// }

// .ipi-iconBtn--toggle{
//     display:flex;  
//     align-items: center;
//     justify-content: center;
//     height: 53px;
//     //* Espacios
//     padding: 1rem;

//     //* Background
//     background-color: v.$strong-blue;

//     //* Transiciones
//     transition: all ease-in-out .1s;

//     //* Bordes
//     border: none;
    

//     .icon{
//         width: 30px;
//         height: 30px;
//         color: v.$white;
//     }

//     &:hover{
//         //* Fuentes
//         color: v.$black;
//         cursor: pointer;
//     }

//     &:focus{
//         //* Fuentes
//         color: v.$black;
//     }

// }