@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;

.container.banner-news {
    width: 100%;
    margin-bottom: 6.4rem;
}

.layout-banner {
    display: flex;
    gap: 2.6rem;
    align-items: center;
    justify-content: center;

    &>.ipi-banner:only-child {
        flex: 1 1 100%;
    }

    &>.ipi-banner {
        flex: 1;
        max-width: 100%;
    }


    @include m.desktop {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }

    &.TwoBanner,
    &.ThreeBanner {
        .ipi-banner {

            .banner-news_content {
                padding: 1rem;

                .banner-news_text {
                    .title {
                        color: #FFF;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        margin-bottom: 0.5rem;
                    }

                    .description {
                        color: #FFF;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }

                .banner-news_button {
                    align-items: end;
                    justify-content: end;

                    .icon {
                        width: 22px;
                        height: 22px;
                    }
                }
            }
        }
    }
}

.layout-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 2.6rem;

    margin-top: 2.6rem;

    @include m.desktopXL {
        column-gap: 2.6rem;
        justify-content: center;
        align-items: center;
    }

    @include m.tablet {

    }

    @include m.mobile {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
}