@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;



.ipi-mapafooter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 3.95rem;
    row-gap: 5rem;
    margin-bottom: 8rem;
    width: 100%;

        &::before,
        &::after {
            display: none !important;
            content: none !important;
        }

    & > * {
        flex: 0 0 calc(25% - 4rem);
        min-width: 269px;
        max-width: 26.9rem;
    }

    @include m.mobile {
        flex-direction: column;
        align-items: center;
        & > * {
            flex: 0 0 100%;
            min-width: auto;
        }
    }
}
