@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;

$mapasitio-margin-bottom: 4rem;

$box-enlaces-column-gap: 13rem;
$box-enlaces-row-gap: 4rem;

$item-container-h3-margin-bottom: 1rem;
$item-container-h5-font-size: 1.5rem;
$item-container-h5-margin-top: 1rem;

$item_inv-margin-left: 1.2rem;
$item-enlace-height: 19.3rem;
$item-enlace-width: min(31.1rem, 100%);
$item-enlace-img-height: 19.3rem;

$title_item-text-padding-left: 0.8rem;
$title_item-text-padding-right: 0.8rem;

.mapasitio{
    //* Espacios
    margin-bottom: 6.4rem;

    @include m.tablet{
        margin-bottom: 4rem;
    }
    p{
        font-size: 1.5rem;
    }
    .box-content{
        .list-item{
            padding-bottom: 1rem;
        }
    }
    .box-enlaces {
        //* Display - Flex y Grid
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        place-items: start;
        column-gap: 3rem;
        row-gap: calc(v.$separacion * 2);


        @include m.desktopXL {
            grid-template-columns: repeat(2, minmax(0, 1fr));
            place-items: center;
        }
    
        @include m.tablet {
            grid-template-columns: repeat(1, minmax(0, 1fr));
            place-items: center;
        }
    
        @include m.mobile {
            place-items: center;
            grid-template-columns: repeat(1, minmax(0, 1fr));
        }
    }
}

@mixin color($color){
    content: '';
    position: absolute;
    height: 0.8rem;
    width: 0.8rem;
    top: 0.7rem;
    left: -8%;
    background-color: $color;
}

.dmb{
    &:before{
        @include color(v.$strong-blue3);
    }
}
.bmm {
    &:before{
        @include color(v.$strong-blue3);
    }
}
.dca{
    &:before{
        @include color(v.$strong-blue3);
    }
}
.ca{
    &:before{
        @include color(v.$strong-blue3);
    }
}
.dcsd{
    &:before{
        @include color(v.$strong-blue3);
    }
}
.csd{
    &:before{
        @include color(v.$strong-blue3);
    }
}
.dga{
    &:before{
        @include color(v.$strong-blue3);
    }
}
.ga{
    &:before{
        @include color(v.$strong-blue3);
    }
}
.dma{
    &:before{
        @include color(v.$strong-blue3);
    }
}
.ma{
    &:before{
        @include color(v.$strong-blue3);
    }
}
.d{
    &:before{
        @include color(v.$strong-blue3);
    }
}
.ea{
    &:before{
        @include color(v.$strong-blue3);
    }
}
.cns{
    &:before{
        @include color(v.$strong-blue3);
    }
}
.lanbama{
    &:before{
        @include color(v.$strong-blue3);
    }
}
.linan{
    &:before{
        @include color(v.$strong-blue3);
    }
}