@use '@styles/base/variables' as v;
@use '@styles/base/mixins' as m;

.recursos__directorio {
    width: 100%;
    .box-directorio{
        border-top: 0.1rem solid v.$light-gray;
        width: 100%;

        margin-bottom: 7.4rem;

        &:last-of-type{
            margin-bottom: 12.8rem;
        }
        .directorio {
            width: min(120rem, 100%);
        }
    }
}

.directorio__title {
    padding-top: 1.7rem;
    padding-bottom: 1.7rem;
    position: relative;
    display: inline-block;
    max-width: 100%;
    white-space: normal;

    border-top: 0.5rem solid v.$strong-blue3;

    .title {
        font-size: 3.2rem;
        line-height: 5rem;
        font-weight: v.$medium;
        color: v.$black;
        margin: 0;
        transition: all 0.3s;

        @include m.mobile {
            font-size: 2.2rem;
            line-height: 2.8rem;
        }
    }
}

.directorio__body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;

    @include m.desktop {
        grid-template-columns: repeat(3, 1fr);
    }

    @include m.tablet {
        grid-template-columns: repeat(2, 1fr);
    }

    @include m.mobile {
        grid-template-columns: repeat(1, 1fr);
    }

    .directorio__list {
        padding: 0;
        list-style-type: none;
        margin: 0rem;

        .directorio__box-link {
            margin-bottom: 1.7rem;
            &:last-of-type {
                margin-bottom: 0rem;
            }
        }
    }
}

